[2018-06-28 00:17] moustakas commented on #381
Apologies for the bad form, but I went ahead and changed the minimum rest-frame wavelength in `templates.SIMQSO` to 450 A in the master branch.

[2018-06-28 00:34] moustakas commented on #381
Regarding your second comment, the `z=1e-3` "pivot redshift" I introduced in the code was just an arbitrary non-zero value I had to use since the quasar spectra themselves are generated by [simqso](https://github.com/imcgreer/simqso), and `z=0` causes problems (in the luminosity function sampling, the calculation of the luminosity distance, etc.).

Other than in the Lyman-alpha forest, how is a `z

[2018-06-28 21:29] londumas commented on #381
fixed in https://github.com/desihub/desisim/pull/383

[2018-06-28 21:29] #381 closed

[2018-06-29 14:39] londumas commented on #357
fixed

[2018-06-29 14:39] #357 closed

[2018-07-04 11:28] andreufont opened #386 "quickquasars simulated spectra can not be reproduced"
I can not reproduce the simulated spectra, even when passing a random seed. For instance, when I run the simple code below.

``
#!/bin/bash

downsampling=0.40
outdir=/project/projectdirs/desi/mocks/lya_forest/london/v2.0/test_quick/v0
infile=/project/projectdirs/desi/mocks/lya_forest/london/v2.0/0/0/transmission-16-0.fits

quickquasars --exptime 4000. -i $infile --zmin 1.8 --outdir $outdir/spectra

[2018-07-04 11:29] andreufont commented on #386
@alxogm @julienguy @londumas @forero

[2018-07-05 00:06] alxogm commented on #386
From what Ive seen quasars are reproduced if no features present. No BAL quasar are reproduced when run with BAL probability different from zero, i.e. only BALs look different.
Differences  still happening with DLAs, dig in into it...

[2018-07-06 23:07] alxogm commented on #386
So I've seen that spectra are reproduced if no noise is added. in line https://github.com/desihub/desisim/blob/9df332d970b2e32ffb26f4c7a4203df745896bb9/py/desisim/scripts/quickspectra.py#L197

As well as if I increase the exposure time,   the differences gets much smaller as can be seen in the current version of the notebook  https://github.com/desihub/desisim/blob/fix_dlabugs/etc/quick_quasar.ipy

[2018-07-09 16:26] sbailey opened #388 "unittests failing @ NERSC from NIGHT/EXPID/rawdata location"
Nightly unit tests are failing at NERSC with the tracebacks below.  These appear to be due to the reorganization of raw data into NIGHT/EXPID/ directories instead of just NIGHT/ directories, but I thought that was fixed in PR #384 .  Assigning to 18.6 release since this need to be resolved before next major software release.

[code]

[2018-07-13 18:48] sbailey commented on #388
This turned out to be an error in desitest.  desimodules/master is now using desiconda 20180518-1.2.5-spec for testing, which is ahead of the "current" link to the last stable release 20180130-1.2.4-spec.  desitest was git updating the repos in the old area but the dependencies were coming from the new area which was not getting updated except by hand and were thus out of sync.

I updated desitest

[2018-07-13 18:48] #388 closed

[2018-07-17 15:34] weaverba137 opened #391 "Cache IERS files before running"
We noticed during a recent run of the minitest notebook that `wrap-newexp` jobs are downloading IERS files from the internet instead of using a pre-cached copy.  See desihub/desitest#10 for further details.

There is already a routine `desisurvey.utils.freeze_iers()` that does this.  If both desisurvey & desisim might be using this routine, we should consider moving it to desiutil.

[2018-07-17 17:43] andreufont commented on #386
@alxogm - What is the status of this? This is now the main limitation preventing us from doing systematic tests, so I would try to prioritize this task. Thanks!

[2018-07-18 06:03] alxogm commented on #386
@andreufont  So I'm not quite satisfied with my solution. But this is what I think:

I'm  sure the problem is when adding the random_noise_electron, but this is in specsim not desisim. The noise is given according to the detected electrons, so when DLAs is present the flux normalization slightly varies and this makes the adding noise function to be a bit sensitive. The current solution I tested in

[2018-07-18 14:31] LuzGarciaP commented on #386
Hi everyone. We have made some progress on the BAL' side, working with the branch trial_bal (that mimics quickquasars). However, we are not able to visualize the BAL features from the noise that is automatically introduced to the spectra.
In addition, we encountered an issue when trying to compare spectra with and without BALs, because each run introduces some random noise that makes the spectra n

[2018-07-18 17:39] andreufont commented on #386
Hi @alxogm , @LuzGarciaP - It's great to see these plots.

There are several issues that could affect these tests, and it would be great to isolate them and understand them well.

A) The first issue is the noise in the spectra. We would like to have the same noise realization every time we run the same code. Is this the case? You can test this on the same quasar, or you can even test this on a fla

[2018-07-18 17:40] andreufont commented on #386
@LuzGarciaP - could you share notebooks (or plain python code) with your tests? It might help us understand what could be going on.

[2018-07-18 17:46] forero commented on #386
@andreufont We cannot reproduce the noise. Most probably we will go for noiseless spectra using a large --exptime.

[2018-07-18 18:04] andreufont commented on #386
@forero Yes, this is a good short term solution.

But we should really be able to reproduce the noise! There is an option to specify the seed in desisim.simexp.simulate_spectra , I would have thought that this would be enough!

After a quick search around, I noticed that this issue was already raised in specsim: https://github.com/desihub/specsim/issues/83 and it looks like @dkirkby and @julienguy

[2018-07-19 03:16] alxogm commented on #386
Hi @LuzGarciaP  @forero, I've run Luz script as follows

quickbals -i $ifile -o outfile --bal BAL --balprob 0.12 --overwrite  --nmax 20 --seed 123

and the noise is more or least reproduced. It is  at the same level as I was mentioning in a comment  above using the bal option in quickquasars. I'm not sure of the differences of quickbals vs quickquasar  but that you will tell us about. Can you plea

[2018-07-19 03:58] alxogm commented on #386
@andreufont  I think I've searched precisely  along all the  points you mention, mostly for the DLAs case,  in the notebook.

1)Figure in cell 8, is not matching because it compares current simulator, with the modified one. But if both are run with the same simulator they matches.

2) Then in Cell 30, there is the noiseless spectra, also matches. This was done by commenting out the adding noise li

[2018-07-19 07:10] dkirkby commented on #386
Do they match exactly?  If so, doesn't that mean the problem is fixed?

You can test if that issue is related by changing 'fastsim' to 'table' in this line:

https://github.com/desihub/desisim/blob/9df332d970b2e32ffb26f4c7a4203df745896bb9/py/desisim/simexp.py#L476

I can give more priority to fixing this issue if that change solves your problem.

[2018-07-19 10:21] dkirkby commented on #386
desihub/specsim#83 is now fixed in desihub/specsim#91 which should be merged in the next few days

[2018-07-19 15:59] andreufont commented on #386
I just tested that in the master branch (the one you get in Cori if you load the DESI modules), and in the simplest quickquasar run you do get exactly the same noise, down to machine precision.

@forero - when you say that you can not reproduce the noise, do you mean when you compare two spectra one with BAL and one without BAL? Or do you mean you don't reproduce the noise when running *exactly* t

[2018-07-19 16:18] forero commented on #386
@andreufont I should be more precise. I meant that comparing two spectra (one with BAL and one without BAL) the noise is not the same. Running the same command produce the same noise.

But as you show, the problem was not including the seed. The BAL's features should be indeed easier to spot in the kind of run you made.

[2018-07-19 16:22] andreufont commented on #386
I just tested that in the master (the one you get in Cori if you load the DESI modules), if you generate twice the same quasar with --dla random, you get a different DLA even when using the same seed.

See for instance:

ifile='/project/projectdirs/desi/mocks/lya_forest/london/v2.0/0/0/transmission-16-0.fits'

out_v0='spectra_v0.fits'
cmd="quickquasars -i $ifile -o $out_v0 --nmax 1 --seed 123 --ov

[2018-07-19 16:23] andreufont commented on #386
Great, so we can consider issue A) solved. We can reproduce the noise.

Now we need to be able to reproduce random DLAs, and random BALs.

[2018-07-19 18:10] andreufont commented on #386
I also tested that if we generate twice a quasars with BAL and noise, we get the same thing, what is good.

However, if we generate the same quasar twice, one with BAL and one without BAL, we get different noise vector. So the problem with BALs is that depending on whether we add BALs or not, we change the random numbers in the noise simulation. The solution should be the one I suggested in the fi

[2018-07-19 18:21] andreufont commented on #386
When adding DLAs from files, the noise added is also different, what to me makes no sense. I think this is that Alma had already spot.

May be we should open individual issues for each of this ill cases, even if they might be related.

[2018-07-20 18:08] julienguy commented on #386
I am on it: trying to keep the same random numbers in the instrumental noise simulation with or without BALs ( it is not the case now, and this is quite natural, because we are using random numbers in the sequence to choose BALs properties before adding instrumental noise).

[2018-07-20 22:31] julienguy commented on #386
This is due to a quite amazing feature of numpy.random.poisson(mean) which "consumes" a different set of random numbers depending on the mean value. This as for consequence to totally perturb the random realization of the noise in a spectrum if a DLA is present or not.
Example:
[code]
returns on my computer
[code]
(The last two values have changed in the last row when they shouldn't).
This is not

[2018-07-20 22:41] julienguy commented on #386
(thanks Stephen for noting this)

[2018-07-20 23:20] alxogm commented on #386
And it behaves a bit different if in is inside a cycle, and making the mean an integer helps, but, is not perfect. @julienguy I hope you find how to fix it...

Enviado desde mi iPhone

El 20/07/2018, a la(s) 17:31, julienguy <notifications@github.com> escribió:

[2018-07-20 23:21] julienguy commented on #386
This is fixed in branch no-poisson of desisim and specsim, where I have added an option use_poisson to quickspectra and specsim.simulator.Simulator.generate_random_noise that I set to False in quickquasars. I will let @dkirkby review the associated PRs.

![spec](https://user-images.githubusercontent.com/5192160/43029141-ea789c9c-8c38-11e8-8211-1eae1615b647.png)

[2018-07-21 07:52] alxogm commented on #386
Thanks @julienguy for modifying specsim to fix this.
I used the no-poisson branch and the DLAs and BALs cases looks very good. Here is some examples.  I have asked to @londumas to help me check  the metals case.

![dla_file](https://user-images.githubusercontent.com/14896082/43033427-ff7278dc-8c8f-11e8-9d9e-2aada4e2bae2.png)
![dla_rand](https://user-images.githubusercontent.com/14896082/43033428-f

[2018-07-25 10:47] moustakas opened #394 "Use FITS-standard flux units"
See https://github.com/desihub/desispec/issues/665

[2018-07-30 15:23] andreufont commented on #386
@alxogm - I have checked that with the current master branch, we can reproduce all sorts of mocks. I think we can close this issue.

If there are (unrelated) problems with the metal implementation, we can open a new issue.

[2018-07-30 15:53] #386 closed

[2018-07-31 15:41] andreufont commented on #338
@julienguy we can close this ticket, right?

[2018-07-31 15:42] andreufont commented on #295
@moustakas - We should probably close this ticket. If there are still issues with the Lya mocks, we could open a new ticket.

[2018-07-31 15:44] andreufont commented on #296
@moustakas - this is already implemented, isn't it?

If not, @alxogm is probably the best person to look into it.

[2018-07-31 15:45] julienguy commented on #338
yes indeed

[2018-07-31 15:45] #338 closed

[2018-07-31 15:45] andreufont commented on #327
@londumas @moustakas @alxogm - this has probably been fixed, right? Otherwise we would have seen this when running quickquasars... although it might not have been fixed in quickspectra?

[2018-07-31 16:39] moustakas commented on #295
Yes, please feel free to close whatever tickets you think have been addressed.

[2018-07-31 16:39] #295 closed

[2018-07-31 16:45] moustakas commented on #327
Poking around `quickquasars` and `templates.SIMQSO` it doesn't look like the simqso-based DLAs have been were turned off (although we know how to based on the instructions in https://github.com/imcgreer/simqso/issues/23).

However, it looks like `lyaforest=False` in `quickquasars`, so this issue would never turn up.

[2018-07-31 17:32] londumas commented on #327
This issue is only when using the internal Lya-forest of desisim.SIMQSO. So it doesn't impact quickquasar.

[2018-08-01 08:55] andreufont opened #398 "Adding BALs does not work when generating full DESI with quickquasars"
Hi @LuzGarciaP @alxogm @paulmartini @forero @julienguy

Something quite strange is going on. For instance, when I run a single quickquasars script with the option --balprob 0.12, everything works fine, and indeed I get some spectra with BAL features.

However, when I run the full slurm script to generate a full DESI simulation (see attached script, based on the original one by Julien Guy), I get t

[2018-08-01 15:31] alxogm commented on #398
@andreufont  I guess more information of this failure is in the log files of your runs in nersc? If so can you point me to which files look at so that I can try to reproduce the error? Thanks.

[2018-08-01 15:35] alxogm commented on #327
As said above, this is not affecting quickquasars. But I ran the same commands that appear in the original post above and still there appears DLAs. And I was looking to code lines in quickspectra and desisim.templates  that resemble imcgreer instructions but haven't find them, maybe it is somewhere else... so I'm not sure yet if  this is still an issue in other applications...

[2018-08-01 15:38] andreufont commented on #398
Yes, the script is in
/project/projectdirs/desi/mocks/lya_forest/london/v2.0/quick-1.7/run
And the log files are in
/project/projectdirs/desi/mocks/lya_forest/london/v2.0/quick-1.7/logs

[2018-08-01 15:39] julienguy commented on #398
it's a simple bug I am fixing now

On Wed, Aug 1, 2018 at 8:38 AM, Andreu Font-Ribera <notifications@github.com

[2018-08-01 15:53] julienguy commented on #398
I committed the fix in desisim master (without going to a new branch).
Andreu, can you please test this?

On Wed, Aug 1, 2018 at 8:39 AM, Julien Guy <jguy@lbl.gov> wrote:

[2018-08-02 09:50] andreufont commented on #369
@alxogm @LuzGarciaP @forero - Is this issue now fixed? Can we add BALs both in quickquasars and in quickspectra, both using QSO and using SIMQSO?

[2018-08-02 13:54] andreufont commented on #398
Hi @julienguy - I checked the new version, it works great. I already added a version with BALs in
/project/projectdirs/desi/mocks/lya_forest/london/v2.0/quick-1.8

[2018-08-02 14:06] #398 closed

[2018-08-02 14:07] andreufont commented on #323
@londumas - was this fixed? If so, should we close the issue?

[2018-08-02 15:41] andreufont commented on #364
fixed in #399

[2018-08-02 15:41] #364 closed

[2018-08-02 15:48] julienguy commented on #369
quickquasars uses desisim.templaltes.SIMQSO only for now but it would be trivial to add an option to use desisim.templates.QSO

[2018-08-02 17:10] julienguy commented on #327
DLAs are part of the IGM transmission simulated in SIMQSO:
desisim.templates.SIMQSO._make_simqso_templates calls
simqso.sqmodels.get_BossDr9_model_vars which calls
simqso.hiforest.IGMTransmissionGrid(...,forestModels['Worseck&Prochaska2011'],...)
and this model has DLAs.

Instead of modifying simqso for this purpose,
I suggest we never call desisim.templates.SIMQSO.make_templates with the option l

[2018-08-02 23:56] forero commented on #369
@andreufont not yet. We got caught up in the reproducibility issue. We can add the option to use desisim.templates.QSO.

[2018-08-03 09:06] andreufont commented on #327
Hi @julienguy - for the needs of the Lyman alpha working group, I agree with you that we do not need to modify SIMQSO.

However, I'm not sure we want to remove the lyaforest option from desisim.templates.SIMQSO.make_templates and desisim.templates.QSO.make_templates, since sometimes you just want to simulate a quasar without the need of a transmission file. For instance when generating simulated s

[2018-08-03 10:06] londumas commented on #323
@andreufont, this issue is not fixed. The current PCA use by desisim.QSO have been build without correcting for the Lyman-alpha forest. So the mean transmission is there in a certain way. When the Lyman-alpha fluxtuations are added, then they are present twice. However, it doesn't seem to be a big issue now since we don't use desisim.QSO anymore.

[2018-08-03 10:09] londumas commented on #327
Hi @andreufont, I stepped upon this issue when testing redrock and its systematic shift due to the Lyman-alpha forest.I don't need this to be corrected anymore since I can use quickquasar.

[2018-08-03 10:09] andreufont commented on #323
Thanks @londumas. This seems like a serious issue for desisim.QSO, specially at high-z where the mean flux is quite low and applying twice would make a large difference.

[2018-08-03 11:48] moustakas commented on #327
I agree with @andreufont that the `lyaforest` option in `SIMQSO.make_templates` should not be *removed*.  If anything, you could change the default to `False`, but since `desisim/bin/quickquasars` and `desitarget.mock.mockmaker.QSOMaker.make_spectra` already set this to `False` then everything should be fine.

[2018-08-08 21:40] forero commented on #369
@andreufont I've opened this PR : #401

[2018-08-09 23:45] londumas opened #403 "Add BGS to cell 56 and 70 in minitest"
In minitest it would be useful to have the cell 56 and 70 for BGS also:
https://github.com/desihub/desitest/blob/master/mini/minitest.ipynb

[2018-08-10 00:17] sbailey commented on #403
Slightly more context:  this is the plot in cell 70 that @londumas is requesting to have BGS included too:
![unknown-4](https://user-images.githubusercontent.com/218471/43932264-e17b88ba-9bf7-11e8-92a5-930b9cb9d70d.png)

Cell 56 is a plot of similar information, but generated by the minitest notebook itself so doesn't require any desisim QA code updates.

[2018-08-10 04:52] sbailey commented on #403
Cell 56 has been updated to include BGS in the latest notebook run:
![blat](https://user-images.githubusercontent.com/218471/43939349-4aa94306-9c1e-11e8-8004-40a2755f3bfc.png)

Would still be nice to have the deltav vs. z plots updated too to include BGS since that highlights more subtle biases and trends.

[2018-08-13 09:12] #369 closed

[2018-08-13 09:17] andreufont opened #404 "QSO.make_templates should be able to draw magnitudes from Luminosity Function"
When generating correlated Lyman alpha mock spectra, we read quasar redshifts and angular positions from the "transmission files", but we do not read magnitudes.

When using SIMQSO.make_templates we can pass a magnitude range and a quasar redshift, and we will get a random magnitude following a given QSO LF. It would be great to have the same feature in QSO.make_template (either from the same QSO

[2018-08-13 11:15] moustakas commented on #404
Sounds good, any contributions would be more than welcome.

Note that this issue is related to #106.

[2018-08-13 11:17] andreufont commented on #404
True, I didn't realize that there was a similar ticket open. Hopefully we can close both soon :-)

[2018-08-13 15:54] andreufont opened #405 "Different HEALPix pixels should use different seeds in quickquasars"
@londumas noticed that we are currently reusing the same seed for some of the quasars, depending on the number of nodes we use.

This should be trivial to fix in quickquasars.py by doing

seed = seed + HEALPIX_pixel

[2018-08-13 15:56] londumas commented on #405
@andreufont, this shouldn't be fixed at the `quickquasars.py` level but at the `quickquasar_slurm_script.sh` level.

[2018-08-13 15:58] andreufont commented on #405
On 13 August 2018 at 16:56, Hélion du Mas des Bourboux <
notifications@github.com> wrote:

I don't think so, I think it would be better to fix at quickquars.py, since
it is easier to access the healpix pixel in there, isn't it?

Andreu

[2018-08-13 16:03] londumas commented on #405
ok, it is way easier at the `quickquasars.py` level, let's do that, but it is not very beautiful.
It is counter intuitive. In a script if I say: `--seed 42`, then I expect a line like `np.random.seed(42)`. I don't expect a line like `np.random.seed(42+some_number)`.

[2018-08-13 16:03] londumas commented on #405
@andreufont, let me do the PR.

[2018-08-13 16:09] andreufont commented on #405
Sounds good. I don't think it is ugly, --seed 42 does control the seed for the whole run, and if you change it you will change all the seeds at once.

Please go ahead with the PR

[2018-08-13 16:12] londumas commented on #405
@andreufont, it is already implemented actually:
`    seeds = np.random.randint(2**32, size=len(args.infile))`. Do you agree?

[2018-08-13 16:14] andreufont commented on #405
@londumas - No, this is what I meant that each pixel *within a node* will have a different seed. But the first pixel of each node will have the same random seed.

I would change that line for
seeds = seed + healpix_pixel

[2018-08-13 16:15] londumas commented on #405
@andreufont. ok, I see.

[2018-08-13 18:18] #375 closed

[2018-08-13 18:40] londumas commented on #405
With this script and the PR https://github.com/desihub/desisim/pull/406, it will work very well. Each file will have a different seed:
[code]

[2018-08-13 18:52] julienguy commented on #405
you may commit your edits to the slurm script in desisim/etc/quickquasar_slurm_script.sh

[2018-08-13 19:01] londumas commented on #405
Thank you @julienguy, I just committed the update of the script to the PR.

[2018-08-13 23:38] sbailey commented on #405
For consideration, pseudocode for handling this within python instead of generating the seeds in the wrapper slurm script:
[code]

Comparison to other suggestions:
* `seed = seed + HEALPIX_pixel` : seed=0 pixel=1 ends up with same randoms as seed=1 pixel=0
* `seeds = np.random.randint(2**32, size=len(args.infile))` depends upon how many infiles are passes and which ones they are.  Generating one s

[2018-08-14 06:10] andreufont commented on #405
I agree with Stephen, I find it simpler to have a single global seed, and
have a short function that uses that global seed and returns a seed for
each HEALPix pixel. I find the slurm magic very difficult to read, and I'd
prefer to have short scripts.

Andreu

On 14 August 2018 at 00:38, Stephen Bailey <notifications@github.com> wrote:

[2018-08-14 22:17] londumas commented on #405
closed via https://github.com/desihub/desisim/pull/406

[2018-08-14 22:17] #405 closed

[2018-08-17 23:27] moustakas commented on #290
@sbailey In the spirit of breaking things in August, I think I'd like to move forward with this issue. Any opinions, warnings, suggestions, guidance?

[2018-08-20 17:01] sbailey commented on #290
Go ahead and break stuff if you think you can wrap it up in ~2 weeks.  Earlier comment/question still applies about needing a data model plan for how to write differing metadata for different kinds of targets into a single output file.

[2018-08-28 21:37] moustakas commented on #73
I removed this stale technote from desisim/master and moved it to svn, where I'll try to finish it --
  https://desi.lbl.gov/svn/docs/technotes/spectro/simulate-templates

[2018-08-28 21:37] #73 closed

[2018-08-30 21:59] moustakas commented on #360
I'd like to stick with using strings to encode `TEMPLATETYPE` and `TEMPLATESUBTYPE` for the sake of clarity and continuity of the current data model.  Hopefully the workarounds have not been too painful.

[2018-08-30 21:59] #360 closed

[2018-09-07 13:42] moustakas opened #410 "propagate pre-calculated healpix pixel number"
Spun off from https://github.com/desihub/desitarget/issues/238.

`newexp_mock` needs to grab `HPXPIXEL` and propagate it to the fibermap output files.

Related to https://github.com/desihub/fiberassign/issues/96#issuecomment-419440227 and https://github.com/desihub/desisim/issues/336.

[2018-09-08 00:02] moustakas commented on #209
With the current version of `desitarget/bin/select_mock_targets` we're generating hundreds of thousands of spectra without too much trouble, so although the velocity dispersion broadening *is* a slow part of the spectral generation, it's not the only one.

[2018-09-08 00:02] #209 closed

[2018-09-09 23:06] moustakas commented on #290
Done in #409.

[2018-09-09 23:06] #290 closed

[2018-09-10 10:27] moustakas commented on #355
@londumas Do you by chance have any of these coefficients handy (I can update the code)?  (Note: we also need the redshift success rate as a function of observing conditions and apparent magnitude.)
[code]

[2018-09-10 10:32] moustakas opened #411 "fix quickquasars; write out truth metadata"
#409 likely broke `quickquasars`.

One immediate issue is that the "normalization filter" argument needs to be explicitly passed as either `normfilter_south` or `normfilter_north` for quasars observed in the DECaLS vs BASS/MzLS filters.

When making these changes we should also write out the "truth" metadata tables as an additional output file as we do in `desitarget.build` (via `desitarget/bin/se

[2018-09-10 15:02] londumas commented on #355
Would you like these coefficients from desisim? We could take the results of desisim.
Or you would like the results from the SDSS data?

[2018-09-10 15:34] julienguy commented on #355
We would need to have the coefficients calibrated on desi simulations, and ideally based on CCD images simulations.
We have such CCD image simulations and the redshift catalog, matched to the truth. This only possible limitation is the statistics. I will put a link to this data set today. It would be great if one of you can have a look at it.

[2018-09-10 15:36] londumas commented on #355
@julienguy, I volunteer as tribute.

[2018-09-10 23:56] moustakas commented on #379
Done in #412.

[2018-09-10 23:56] #379 closed

[2018-09-11 09:29] andreufont commented on #411
@moustakas - it would be great if quickquasars in the master branch was always working, since this is an important code used very often in the Lyman alpha working group.

I guess this means we should setup a test in Travis for it?

@alxogm - Tell your students that quickquasars is broken, but it looks like the fix should be easy.

[2018-09-11 16:41] alxogm commented on #411
Hi @moustakas, I made the test of not passing any argument, as I saw normfilter_north/south has defaults. But  the default  normfilter_north='BASS-r' sends the error

 No such group 'BASS'. Choose one of ['sdss2010', 'decam2014', 'wise2010', 'hsc2017', 'lsst2016', 'bessell'].

(in templates.py:SIMQSO() but I think is the same for QSO() and others)

What should I choose?

[2018-09-11 16:44] moustakas commented on #411
You need the master branch of speclite until @dkirkby creates a new tag.

Please see the thread here:
https://github.com/desihub/redrock/issues/150

[2018-09-11 17:17] moustakas commented on #411
And just for the record: I'm fixing what's broken with `quickquasars` (independent of the issue with `speclite`) in the `fix-quickquasars` branch and should have that ready for review soon.

[2018-09-11 17:30] alxogm commented on #411
OK. Now it works. Thanks! @moustakas

The quickquasars flag '--norm-filter' was set as default for "decam2014-g", that corresponds to normfilter_south.   Shall I add both north and south to the quickquasar options?  or just leave it as it is, and pass normfilter_south=args.norm-filter to SIMQSO( ) and leave north as the default?

[2018-09-11 17:33] moustakas commented on #411
I've made these changes in my branch already.  I'm working on passing forward and writing out the metadata table, so you can add to that.

[2018-09-11 17:33] alxogm commented on #411
@moustakas ok! thanks.  So I'll wait for your changes.

[2018-09-12 12:47] moustakas opened #414 "restore adding SN spectra to desisim templates to a functioning state"
In #409 I broke how we add SNe to the various galaxy Classes in `desisim.templates`; fix it.

@sybenzvi please let me know if this issue becomes a blocking factor for any work you and your group are doing.

[2018-09-12 14:53] julienguy opened #415 "quickquasars fails with recent commits to master"
[code]
We should write a unit test for quickquasars to avoid this in the future.

[2018-09-12 14:58] andreufont commented on #415
@julienguy this is reported in #411, and @moustakas is working on it.

[2018-09-12 15:03] #415 closed

[2018-09-12 19:47] londumas commented on #355
@moustakas, Here are the results and the code to get them:
- I computed sigma_v as the std of Delta_v, only for objects with ZWARN==0 and Delta_v<1000 km/s
- ZWARN fraction is the ratio:  ( ZWARN!=0 ) / all object
- cata_fail_rate is the ration: ( ZWARN==0 & |Delta_v|>1000 ) / all object

Is that what you want or you need more?

[code]

[code]

[2018-09-12 20:07] londumas commented on #355
@moustakas, Here are the results and the code to get them:
- I computed sigma_v as the std of Delta_v, only for objects with ZWARN==0 and Delta_v<1000 km/s
- ZWARN fraction is the ratio:  ( ZWARN!=0 ) / all object
- cata_fail_rate is the ration: ( ZWARN==0 & |Delta_v|>1000 ) / all object

Is that what you want or you need more?

[code]

[code]

[2018-09-12 23:53] julienguy commented on #355
thanks. it would be nice to also recalibrate the rest of the redshift efficiency calculation which is a function of  magnitudes and [OII] fluxes. see
https://github.com/desihub/desisim/blob/2362b20825c73ee78b324a61cb5b21d86bca8346/py/desisim/quickcat.py#L133

for instance, does quickcat reproduces the following efficiency curve derived from the same redwood set of simulations:
![elg-efficiency-vs-

[2018-09-13 15:27] londumas commented on #355
@julienguy, I don't think I will have the time to do that part.

[2018-09-13 22:32] moustakas commented on #411
Done in #413.

[2018-09-13 22:32] #411 closed

[2018-09-13 22:33] moustakas commented on #356
This happened in https://github.com/desihub/desitarget/pull/372; closing it here.

[2018-09-13 22:33] #356 closed

[2018-09-14 14:37] moustakas commented on #323
I'm in the process of updating the stellar templates, and implementing some minor updates to the ELG, LRG, and BGS templates, so this would be a good time to update the QSO templates, if possible.

Does anyone have any suggestions for how to fix this double Lyman-alpha issue and, more importantly, can someone with the expertise implement the fix?

CC @profxj @andreufont @londumas

[2018-09-14 14:49] andreufont commented on #323
@moustakas - I would suggest that we divide the "blue part" of the simulated spectra (i.e., lambda_rest < 1215.67A) by our best estimate of the mean transmitted flux fraction, <F>(z). For instance, we could use the fitting function from https://arxiv.org/abs/1307.2259.

The problem with that is that we might cause a discontinuity in the Lyman alpha emission line of the quasars. May be we could smo

[2018-09-14 14:53] londumas commented on #323
@moustakas, This issue was for `desisim.templates.QSO`, now desisim uses `SIMQSO`, so this issue is not that important.
@andreufont, we have tried a long time ago what you just said and it did introduce a big discontinuity:
2nd plot of https://github.com/desihub/redrock/pull/104#issuecomment-373222418

@moustakas, if you are working on ELG, could you see if you have the time to fix https://github.

[2018-09-14 14:56] moustakas commented on #404
Some additional notes:

In `templates.SIMQSO` we sample from a specified luminosity function here--
https://github.com/imcgreer/simqso/blob/master/simqso/sqgrids.py#L1223-L1264

The default luminosity function in `SIMQSO` is from [BOSS/DR9](https://arxiv.org/abs/1210.6389), as written down here (although there are other choices)--
https://github.com/imcgreer/simqso/blob/master/simqso/sqmodels.py#L

[2018-09-14 14:58] andreufont commented on #404
@alxogm - could you think of someone that might be able to implement these? If we wanted to use templates.QSO this would be important, although I guess we could decide to continue using SIMQSO.

[2018-09-14 15:00] moustakas opened #417 "tune the emission lines in the ELG templates"
Cross-posting from https://github.com/desihub/redrock/issues/111.

[2018-09-14 15:02] moustakas opened #418 "add AGN-like emission lines to the LRG templates"
A long-standing ToDo is to add ~weak emission lines with AGN-like line-ratios to the LRG templates.  Do this.

@londumas if you have any suggestions or insights from your fitting of the eBOSS/LRG sample I would be grateful for your input.

[2018-09-14 15:53] moustakas commented on #418
Yes, that'd be helpful.

[2018-09-14 23:53] londumas commented on #418
With a subsample of 10,000 eBOSS LRG, there doesn't seem to be an issue in any of the BGS, ELG, LRG templates. Please keep in mind that an LRG can be best fit by a BGS or an ELG or a LRG archetype.
Do you need more LRG? A given subsample?

![lrg](https://user-images.githubusercontent.com/3166436/45579667-e7254100-b846-11e8-95d4-fe6573b2461f.png)

[2018-09-17 23:36] londumas commented on #355
@moustakas, Should I update the values in https://github.com/desihub/desisim/blob/master/py/desisim/quickcat.py? from line 40 to 72? Idon't have results for UNKNOWN and SKY.
And for stars, it is very bad for MW targets, but normally it is good for Standard stars.

[2018-09-20 03:49] andreufont commented on #404
@moustakas @alxogm , fixing this should be a priority for the Lyman alpha working group.

Ideally, one would decouple the question of drawing random magnitudes from the question of generating quasar templates. So I would like to have two functions, outside of either SIMQSO or QSO:

1) for a particular quasar redshift, and for a particular filter (DECaLS-r, BASS_MZLS_g...), return a random magnitud

[2018-09-20 13:09] moustakas opened #420 "update LRG template set to DR7-era selection"
This issue is to track necessary updates to the LRG template set, previously documented (using DR3 Legacy Survey photometry) in this notebook:
https://github.com/desihub/desisim/blob/master/doc/nb/lrg-templates.ipynb

[2018-09-20 13:41] TEtourneau opened #421 "Bug with desi_environment"
Hello,

I used to load the desi_environment to run quickquasars by doing this :

source /project/projectdirs/desi/software/desi_environment.sh master

But it seems that since the last night maintenance, gcc is not available anymore and so the desi_env cannot be load :

gcc(3):ERROR:105: Unable to locate a modulefile for 'gcc/7.2.0'

I am the only one experiencing this ? Any solution ?

Thank you i

[2018-09-20 16:37] sbailey commented on #421
NERSC removed the gcc/7.2.0 module during the Cori maintenance yesterday, which appears to be an error.  I have asked them to restore it.

[2018-09-20 19:03] sbailey commented on #421
NERSC has restored the gcc/7.2.0 module and the desi environment works again on cori.  Please re-open if you continue to have problems.

[2018-09-20 19:03] #421 closed

[2018-09-21 00:41] alxogm commented on #404
OK. I have asked @LuzGarciaP to keep an eye on this thread and see if she can help. Just to be sure, will we use the  Palanque et al. 2012, Palanque et al. 2015 luminosity functions?, similar to (and/or using ) what DKirkby made in his notebook (referenced above)?.

[2018-09-21 00:44] andreufont commented on #404
@alxogm - for the "true QLF" yes, we should use any of the papers by Nathalie, I think this is already what is being used in SIMQSO?

But what is really important is to add the option to use the "expected QLF in DESI", and for that we should ask the target selection working group for their best current estimate. Let me find the file.

[2018-09-21 00:47] andreufont commented on #404
@alxogm - this is the file we should use to describe the "expected QLF in DESI":
https://desi.lbl.gov/trac/browser/code/desimodel/trunk/data/targets/nzr_qso.dat

[2018-09-21 01:02] andreufont opened #422 "Latest version of quickquasars is broken"
Hi @moustakas , @alxogm - I just ran quickquasars on v2.0, using the same configuration that I used before for london/v2.0/quick-2.0, but several pixels crashed with messages similar to the one below.

It seems related to the recent changes in how the filters are being used.

multiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent call last):
  File "/global/common/software/desi/cori/desi

[2018-09-21 01:02] alxogm commented on #404
@andreufont Ok, now I get it. Thanks.

As for the default in SIMQSO I think is BOSS/DR9, according to John's post above...

[2018-09-21 01:05] moustakas commented on #422
I broke it, I'll fix it!  Can you send me the exact call to quickquasars and/or healpixel or is it wrapped in a slurm script?  If the latter, can you figure out which pixel crashed so I can reproduce the issue?

[2018-09-21 01:05] andreufont commented on #422
This reproduces the error:

#!/bin/bash

downsampling=0.40
idir=/project/projectdirs/desi/mocks/lya_forest/london/v2.0/
outdir=/project/projectdirs/desi/mocks/lya_forest/london/v2.0/tests/test-3.0/

if [ ! -d $outdir ] ; then
    mkdir -p $outdir
fi
if [ ! -d $outdir/logs ] ; then
    mkdir -p $outdir/logs
fi
if [ ! -d $outdir/spectra-16 ] ; then
    mkdir -p $outdir/spectra-16
fi

#file=/project/

[2018-09-21 01:08] andreufont commented on #404
So let's do this:
 - use the file I attached for the "expected QLF in DESI"
 - use the BOSS/DR9 already in SIMQSO for the "true QLF"

Ideally we would do that for both SIMQSO and QSO, but what is very urgent is to get this running at least for SIMQSO (we can add this to QSO later)

[2018-09-21 01:22] moustakas commented on #422
At the risk of getting (politely) yelled at for violating our software development standards, this was a 10-character fix/bug, which I decided to just push to master.  @andreufont can you `git pull` and test?

[2018-09-21 01:32] andreufont commented on #422
hehehehe. Thanks for fixing it so quickly!

Unfortunately, I don't have the code setup at Cori, I just use the DESI environment from conda that is only updated once a day or so, so I'll have to wait before testing.

Alternatively, would it be possible for you to run this script?
/project/projectdirs/desi/mocks/lya_forest/london/v2.0/quick-3.0/run/quickquasar_slurm_script.sh

[2018-09-21 01:45] moustakas commented on #422
Yup, outputs are appearing in `/project/projectdirs/desi/mocks/lya_forest/london/v2.0/quick-3.0/spectra-16/`.

Please reopen this issue if any other issues become an issue.

[2018-09-21 01:45] #422 closed

[2018-09-21 02:06] andreufont commented on #422
Great, it finished properly. Thanks!

[2018-09-21 18:55] moustakas opened #423 "planned improvements of the stellar templates"
This issue is to document/advertise some in-progress improvements of the stellar basis template set taking place with @callendeprieto's help and expertise.

The forthcoming (`v3.0`) templates will have a smaller rest-frame spectral range (extending only to ~1.1 micron, compared to ~6.5 micron for the `v2.2` templates), but will be much more finely gridded in `Teff`, `log g`, `[Fe/H]` physical para

[2018-09-21 20:02] moustakas commented on #417
@londumas

I'm surprised you didn't see [NeIII] 3869 (rest) in your analysis.  This is a fairly strong line in low-metallicity galaxies and intermediate-luminosity AGN.

Some other lines we should add are: MgII 2800 and [NeV] 3426.

[2018-09-21 20:46] moustakas commented on #417
A comment from Charlie Conroy regarding the origin and identification of the mysterious 2496 A absorption line:

[2018-09-21 21:57] londumas commented on #417
Kyle here:  Helion will send the file of average spectrum, template, and residuals.  That should help.  In my experience, the MgII emission does appear occasionally (a few %) in ELG and LRG spectra, but it is always broad AGN-like emission.  Otherwise, it appears as absorption.  I do not recall ever seeing notable [NeV] 3426 emission in a spectrum.  Guangtun's composite ELG spectrum is another goo

[2018-09-21 22:06] londumas commented on #417
Helion here:
Actually I see some significative residuals at the different line you just quoted.
Here are the plots:
![mgii_2800](https://user-images.githubusercontent.com/3166436/45908092-f6ad0880-bdb7-11e8-8b31-bbeb45573316.png)
![nev_3426](https://user-images.githubusercontent.com/3166436/45908094-f6ad0880-bdb7-11e8-9e47-fcf226571a74.png)
![neiii_3869](https://user-images.githubusercontent.com/3

[2018-09-21 22:42] moustakas commented on #417
@kdawson1000 @londumas

Thanks for the rapid feedback.  *Narrow* MgII emission occasionally appears in compact, starburst dwarf galaxies (see papers by Kinney and Storchi-Lombardi using the ultraviolet IUE instrument), but we also saw it in our low-dispersion PRIMUS spectra and in AGES (an I<20.4 limited survey, so slightly deeper than the planned BGS).

My intuition is that this line is going to

[2018-09-21 22:50] londumas commented on #417
Kyle here: I believe that we will see narrow MgII in the BGS sample, as you say.  So let's include it for those.  We should also add a set of templates with broad emission though, as that is what I see in the ELG's.  The same templates can be used for both, so we'll cover all of the bases.

We do see NeIII 3869 occasionally, but it is really blended with the balmer absorption lines and hard to qua

[2018-09-21 22:52] londumas commented on #417
Helion here: I be happy to test the new templates, once they are merged into desisim.
Will I need to update `DESI_BASIS_TEMPLATES`? I currently use `$DESI_ROOT/spectro/templates/basis_templates/v2.3/`

[2018-09-21 23:00] moustakas commented on #417
No, the emission lines are added on-the-fly, so no need to update the basis templates.  But why are you using the `v2.3` templates instead of `v2.6`...?  The ELG templates haven't changed but there were some non-negligible fixes/updates to the stellar and LRG templates since `v2.3`.

And just a heads up that a set of `v3.0` templates are in the pipe, with additional improvements to the LRG (#420)

[2018-09-21 23:06] londumas commented on #417
@moustakas, perfect, then I will update and test on BOSS and eBOSS(DR14) data the PCA-templates and archetypes with v3.0 once you tell me I can.

[2018-09-21 23:08] moustakas commented on #417
Done in #424.

Let's create a new issue in the next iteration of comparing models to data.

[2018-09-21 23:08] #417 closed

[2018-09-23 14:59] londumas opened #425 "archetype computation print fix"
https://github.com/desihub/desisim/blob/463728c0784bc186f5d5f564beb2f066fcfa8f7a/py/desisim/archetypes.py#L50

This always print `0-0`:
[code]

[2018-09-25 17:52] weaverba137 commented on #394
I found one case where 'electron/Angstrom' should be changed to 'count/Angstrom' to be FITS compliant.  Otherwise, I think units are used correctly.

[2018-09-25 20:04] #394 closed

[2018-09-26 11:54] #425 closed

[2018-09-28 00:13] julienguy commented on #355
I am working on the quickcat calibration in the branch quickcat-calib.
All is done in a notebook:
https://github.com/desihub/desisim/blob/quickcat-calib/doc/nb/quickcat-calibration.ipynb

[2018-09-28 00:14] michaelJwilson commented on #355
Thanks Julien!

M

On Thu, 27 Sep 2018 at 17:13, julienguy <notifications@github.com> wrote:

--
Dr. Michael Wilson

Cosmology Postdoctoral Fellow

http://www.roe.ac.uk/~mjw/

Lawrence Berkeley National Lab
1 Cyclotron Road, M/S 50A5104
Berkeley, CA 94720, USA

Tel:    (+01) 510-502-3448
         (+44) 7742 373026

[2018-10-04 08:53] TEtourneau opened #432 "Bug in quickquasars"
Hi,

I just tried to run quickquasars, as usual, but a bug occured.
I ran quickquasars on cori nodes, using the last version of master branch. (I can link the sbatch script I use to run it if it's usefull).
Here is what I get:

'''
The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/global/common/software/desi/cori/desiconda/20180709-1.

[2018-10-04 08:55] andreufont commented on #432
Hi @TEtourneau - Sorry for that. This is due to some recent changes by @alxogm and myself, where we were trying to update the truth files for the simulated quasar spectra.

The idea was to store both the redshift of the quasar including RSD, and the redshift of the quasar without the RSD, but we should first check if these entries exist before trying to read them.

[2018-10-04 08:57] andreufont commented on #432
While we wait for this to be fixed, you can comment out line 534 in quickquasars.py

[2018-10-04 08:58] TEtourneau commented on #432
Hi Andreu,

Ok, no worries. I'll comment out this line.
Thanks

[2018-10-04 15:04] alxogm commented on #432
@TEtourneau sorry about that. This happened in the Saclay mocks right?  Can you point me to a small transmission file that I can use to include it in the travis tests, so that we make sure quickquasars always run in those mocks? I can include that while fixing this bug. Thanks

[2018-10-04 15:17] TEtourneau commented on #432
Yes, it's for Saclay Mocks, I was just analysing some test mocks.
You can find one of the latest transmission files we produced here:
/global/projecta/projectdirs/desi/mocks/lya_forest/develop/debug/256-256-1536/mock_7/output/17/1747/transmission-16-1747.fits
This is from test mocks, so nothing too physical here, but I guess it doesn't matter since it's only to test the format.
Thanks !

[2018-10-04 16:29] sbailey commented on #432
@TEtourneau please run the following so that we can see those files:
[code]
@alxogm when you have access to these files, please trim an example to as small as possible (e.g. just a few rows, perhaps even smaller than the smallest example file here) before adding to Travis testing.

[2018-10-05 07:35] TEtourneau commented on #432
I already ran the command: chgrp -R desi /global/projecta/projectdirs/desi/mocks/lya_forest/develop/debug/256-256-1536/mock_7/output/
before sending the previous message. And I see the file in desi group:
-rw-rw---- 1 tetourne desi 86M Oct  4 07:30 debug/256-256-1536/mock_7/output/17/1747/transmission-16-1747.fits

Anyway, I just ran chgrp -R desi /global/projecta/projectdirs/desi/mocks/lya_forest

[2018-10-05 14:31] alxogm commented on #432
I can see it now. thanks

[2018-10-05 21:05] sbailey commented on #432
@TEtourneau thanks.  Your previous command got the ownership correct for the lower level files, but the upper level `256-256-1536` directory was still only readable by you so we couldn't see the other files/directories under it.

@alxogm we hope to make new tags very soon, but likely won't finish testing before Monday so if you can get the updated code + tests in my Monday noon, we can likely incl

[2018-10-10 09:44] moustakas commented on #423
Done in #434.

[2018-10-10 09:44] #423 closed

[2018-10-10 09:45] moustakas commented on #420
Done in #433.

[2018-10-10 09:45] #420 closed

[2018-10-10 09:45] moustakas commented on #355
Done in #430.

[2018-10-10 09:45] #355 closed

[2018-10-10 09:47] moustakas commented on #315
I think it's worth leaving this issue open for now, but I'll note that in #434 we have implemented a much finer grid of stellar templates, which should help mitigate the need for interpolation (which we don't do).

[2018-10-10 13:35] sybenzvi commented on #414
@moustakas, we are not up to date with the master so this hasn't affected us yet.

[2018-10-10 15:56] julienguy commented on #315
A note that we have to verify the flux calibration is still working fine with the new stellar templates v3.

[2018-10-13 08:53] akrolewski opened #436 "quicksurvey treatment of multiple targets"
Some targets have multiple bits set in the targeting catalogs (e.g. ELG+QSO or LRG+BGS).  Can quicksurvey handle a truth.fits where these multiple targets have one target bit or the other set (e.g. an ELG+QSO target that is "truly" ELG)?  "out of the box" it appears to not treat these cases properly.

See also https://github.com/desihub/desitarget/issues/400 as related; feel free to close one or t

[2018-10-18 17:33] andreufont opened #437 "Create version/option in quickquasars to generate Lyman alpha mocks for eBOSS"
We would like to use quickquasars to generate Lyman alpha mocks for eBOSS. That would be useful for eBOSS, but it would also increase the number of eyes and hands on quickquasars and the London mocks.

@belaa already has a version of specsim that works on eBOSS specs, we just need to work on the rest of quickquasars (the easy part). Today I only started to think about it, but I plan to work on thi

[2018-10-18 21:06] ngbusca commented on #437
I vote for having a --eboss (all lowercase) option, rather than duplicating code. There's not reason for it to become messier just because of the extra option. What would require more thought is how to get the eboss+boss sky density, but I don't think we absolutely need this from the get-go as long as we have the right mean density.

For the geometric part of the footprint we will need external da

[2018-10-19 08:48] kdawson1000 commented on #437
Nicolas,
There are several ways that we can track the eBOSS footprint.  I will try to find you in person so we can settle on the easiest way.

[2018-10-19 10:16] ngbusca opened #438 "quickquasars sets every EXPID=0"
`quickquasars` sets all the EXPID to zero. This is a problem for `picca` since pairs at rp == 0 are rejected. While we improve this on the picca side (not before DR14 papers are out) it would be good to fix this on quickquasars too.

I've included a "hack" in picca to avoid this issue (currently in branch picca_nersc_submit) by setting the expid  to the nightid (the latter is different for each li

[2018-10-19 10:28] andreufont commented on #438
Is EXPID the equivalent of FIBERID, or the equivalent of THINGID? I'm guessing FIBERID?

[2018-10-19 10:31] ngbusca commented on #438
There's no exact equivalent when using coadded data. Picca was using it as the PLATEID, meaning that pairs with equal EXPID and both FIBERID < 500 (trivially satisfied for realistic desidata but not for quickquasars where FIBERID can be very large) and rp==0 are rejected.

[2018-10-19 10:33] ngbusca commented on #438
By the way, the NIGHT is also the same for all quickquasars spectra-16 files, so I've set the "effective" plate in picca as the FIBERID instead of the NIGHT.

[2018-10-20 07:14] julienguy commented on #437
I would vote for
 - opening a new github repo under desihub or igmhub, something like desilya
 - moving there quickquasars
 - try and isolate the desi simulation part
 - add the --eboss option.

The reason is it would be problematic to force new version of desisim (which is the main DESI simulation repo) each time we make an improvement in the eboss sim.
But I agree a single quickquasars code used

[2018-10-20 07:30] ngbusca commented on #437
We worked quite a bit yesterday with @belaa it seems that the changes are quite minimal:

 * When instantiating the `_simulator` object in `quickspectra` (not `quickquasars`) we can add the choice of config, currently defaulting to `desi`
 * The rest of the work is totally on `specsim`, where we plan to add a dummy `z` camera with zero throughput and minimal wavelength coverage so desi doesn't com

[2018-10-20 07:35] andreufont commented on #437
I agree it would be better to have a minimal change in desisim.

However, I agree with Julien that we should also have a Lyman alpha repo where we can play with freely (for instance, for mini-test that Julian is working on).

[2018-10-21 07:32] londumas opened #440 "quickquasar produces different quasar catalog"
For a given mocks seed, we should have the same output quasar catalog. For example,
`/project/projectdirs/desi/mocks/lya_forest/london/v4.0.0/quick-0.0/zcat.fits` should be the same as
 `/project/projectdirs/desi/mocks/lya_forest/london/v4.0.0/quick-2.0/zcat.fits`
@andreufont, do you know what is happening?

[2018-10-21 19:38] andreufont commented on #440
Aren't these runs from different versions of quickquasars / desisim? If so, it is not strange that they have different quasar catalogs, isn't it?

[2018-10-22 10:15] belaa commented on #437
@ngbusca Here is a [notebook](https://github.com/desihub/specsim/blob/eboss_config/docs/nb/SimulatingeBOSS.ipynb) on my eboss_config branch that goes through how to simulate eBOSS spectra. As far as I know, I think you have to provide the fluxes for each source you're using either in the config file or as an argument to `Simulator.simulate()`, so I don't think it's as easy as just giving a plate/m

[2018-10-22 15:02] londumas commented on #440
Do you agree that within a given mock, for example v4.0.0, all different quickquasar production, should have the same redshift catalog, magnitude, ...
The effect of the different options of quickquasar will be on metals or no metals, on DLA or no DLA, on adding redshift errors...

[2018-10-22 15:53] londumas commented on #440
@alxogm, Thanks. It works.

[2018-10-22 15:53] #440 closed

[2018-10-22 21:00] dkirkby commented on #437
@belaa is correct that the true spectrum needs to be specified for each simulated fiber.

@ngbusca: what properties for a given plate/mjd do you want to reproduce?  (sky, read noise, wlen dispersion, targets, ...)

[2018-10-23 06:58] ngbusca commented on #437
@dkirkby @belaa  to zeroth order we would like to get the right s/n, sky, etc. on coadds (spPlates) on average (I think we already have that, right?). But a more realistic way to do it could be:
  a. for each simulated quasar get its RA,DEC and calculate the plate (or plates) were it would have been observed
  b. assign to it random fibre (such that the fiber isn't already assigned to another quas

[2018-10-23 09:08] andreufont commented on #437
Do we really need this, Nico? It sounds quite complicated, specially when taking into account reobservations (and how these targest were selected).

For now, I would work under the assumption that all spectra in DR14Q are random draws from the same SNR distribution, and that the only difference between eBOSS and BOSS_minus_eBOSS footprint is the density of high-z quasars. But it would be great to

[2018-10-23 11:14] ngbusca commented on #437
@andreufont I totally agree, that's my order zeroth above and we should definitely try it out and check the SNR, etc. before complicating things. I was just asking looking ahead, certainly not requesting anything new from specsim!

[2018-10-24 14:42] londumas opened #441 "quickquasars: add Lorentzian"
Figure 4 of Zarrouk et al 2018 (https://arxiv.org/pdf/1801.03062.pdf) shows that the redshift error are Lorentzian.

[2018-10-24 14:48] londumas opened #442 "quickquasars: Add systematic redshift error"
In table 4 of du Mas des Bourboux et al 2017 (https://arxiv.org/pdf/1708.02225.pdf), we have:
Delta r_parallel = −0.93 ± 0.14 Mpc/h.
This translates into a ~100km/s shift of the redshift along the line-of-sight.
It would be nice to add this to quickquasar.

[2018-10-24 14:50] andreufont commented on #442
Yes, this should be trivial to add.

[2018-10-24 14:53] andreufont commented on #441
Is the argument that FoG is Lorentzian, or that the redshift errors are?

The modelling of FoG can be informed from Nbody simulations, I guess.

If we decided that either redshift errors or FoG are better modelled by a Lorentzian, this should be trivial to change.

[2018-10-24 16:08] dkirkby commented on #437
Here are some notes as I try to understand the layers of quickquasars.  Corrections welcome.

The nested calling sequence is:
[code]
At the lowest level, in `desisim.simexp.simulate_spectra`, specsim is used as follows:
[code]
However, the following top-level call, from `desisim.scripts.quickquasars.simulate_one_healpix`, already contains most of the info needed by `desi.simulate`:
[code]
What out

[2018-10-24 17:21] ngbusca commented on #437
I tried pushing as far as I could, and eventually I got an error claiming that the requested X,Y position of the fiber was outside the FOV of the telescope. I think this is related to positioning the fibers in the focal plane according to Mayall but trying to simulate them with SDSS, which is why I suggested to give up using desisim altogether...

[2018-10-24 17:30] dkirkby commented on #437
Many of the steps being performed now are not relevant for quasar sims (e.g. setting moon conditions and galaxy size & shape).  That's not necessarily a problem, unless it brings in a lot of hardcoded desi assumptions (like the field of view).

[2018-10-24 17:35] andreufont commented on #437
I think it's fair to say that we (Julien?) Copy pasted code to get things running, but if you can identify code that is not relevant feel free to remove it :-)

[2018-10-24 23:21] sbailey opened #443 "pixsim generating random CCD amp offsets and noise?"
It looks like pixsim is generating a random CCD amp offset (bias) and noise value per exposure, rather than treating it as a real CCD which has stable properties.  Check that and fix if needed.  We still want different amps to have different properties, but they should be mostly stable from one exposure to another.

This comes up on the context of quicklook, which should catch if the bias levels a

[2018-10-26 22:31] sbailey opened #444 "desisim/spec_qa/s2n: don't read files multiple times"
While debugging a separate issue, I found that `desi_qa_s2n` is quite slow because it keeps reading in the same truth and cframe files over and over again via `load_s2n_values(objtype, nights, channel)`.

Refactor to read in the data only once, and then filter as needed for various objtype and channels.

[2018-10-31 16:07] julienguy opened #445 "Apply dust extinction on simulated spectra"
Need to apply dust extinction on simulated spectra.
We currently have an inconsistency in the sims. The ETC adds extra exposure time based on the E(B-V),
but the extinction is not applied to the spectra!

[2018-10-31 16:12] andreufont commented on #437
@kdawson1000 - Any progress on this? A part from the issues with the noise simulator, we also need to address the footprint discussion. Could you provide a function / file that defines the footprint for BOSS and for eBOSS?

[2018-10-31 16:21] moustakas commented on #445
This is a duplicate of https://github.com/desihub/desitarget/issues/284 and is awaiting https://github.com/desihub/desispec/issues/513.

[2018-10-31 16:26] julienguy commented on #445
Thanks John. I suggest we let this ticket open until it is resolved in desitarget.

[2018-10-31 16:32] kdawson1000 commented on #437
I thought Nicolas had a solution to this by simply using the DR16Q catalog.

[2018-11-01 09:47] andreufont commented on #437
Yes, I forgot about this. @ngbusca , let me know if you would like to discuss this (on skype?) or whether you already have a good plan for how to proceed with the eBOSS mocks.

[2018-11-06 16:56] londumas commented on #441
@alxogm and @andreufont, here is what I had in mind:
[code]

In the following plot I compare these two functions to the difference between two estimator of redshift
in DR12Q.
I am planning to do the same plot with two redshift with the same estimator, but on two different epochs.

![deltav_distribution](https://user-images.githubusercontent.com/3166436/48079871-8c0a2d80-e1a9-11e8-8bde-b1e05167c60f

[2018-11-07 01:32] alxogm commented on #441
Hello @londumas, thank you for the plot. This is similar to what the plots I was doing when I thought of truncating the Cauchy distribution in the mod_cauchy function... I should've showed it instead of trying to explain it ...  I didn't have the DR12Q data to compare directly but by eye I thought just forcing the samples to be inside some limits (delta v<3000) could be sufficient.  Actually in th

[2018-11-07 10:14] andreufont opened #447 "quickquasars should add FoG effect to the quasar redshift before generating templates"
Right now we are reading quasar redshifts from the transmission files, and use these to generate the random quasar continua.

Later on, we add a random Fingers of God (FoG) correction to the quasar redshift, but this shift is not applied to the quasar continua.

This is probably not a large effect for things like BAO, but if some is trying to use the synthetic spectra to generate composite quasar

[2018-11-07 10:14] andreufont commented on #441
I have the feeling that we are spending a lot of time on this issue, and I'm not convinced it should be our priority at this point... I asked Helion to open these issues on github so that we don't forget, but I think solving the DLA issues is more important.

However, if you think we can finish this up soon, then we should push this and get it out of the way. But remember that at the end what we w

[2018-11-07 15:10] londumas commented on #441
@andreufont, I agree, let's not invest too much time with that. However, it is important for the mocks to have it sooner than later because this jas a big effect on the 3d cross-correlation. Way more than metals and DLA.
Let's correct the current code and merge https://github.com/desihub/desisim/commit/7098e8261feb443c4c522e6faf561cca5fcf44b8#commitcomment-31183244.
@alxogm, do you want to take ca

[2018-11-07 17:35] londumas commented on #437
@andreufont, Could I be of any help to have this moving?

[2018-11-07 17:56] belaa commented on #437
An update on my end: I got quickquasars to run on the eboss specsim config, although I'm not sure how to interpret the output. I get three FITS files:

spectra-16-333.fits	truth-16-333.fits	zbest-16-333.fits

I had to tweak some things in the specsim config file to get it to run which I'm trying to understand, but I was able to run it without any errors.

[2018-11-07 18:01] alxogm commented on #441
@londumas Yes I agree the modified function can be optimized as you suggest. Also agree on not spending much more time on it. I'm changing the code now and will  make a PR

@andreufont  If I understand right issue #447 is change a line in the code, so I'll include it in this PR and you let me know if that is what was needed.

Thanks
Alma

[2018-11-07 18:45] londumas commented on #437
@belaa, I be happy to have a look at these files. Could you tell me where you ran quickquasar and where are the output files? Could you give me reading permissions?

[2018-11-07 19:01] belaa commented on #437
@londumas I've been running it on my computer but have moved the output files here:

/global/cscratch1/sd/belaa/desi/quickquasar_output

I think you should have reading permissions but let me know if you can't access it for some reason.

[2018-11-07 20:10] londumas commented on #437
@belaa, I don't have permissions. could you run `fix_permissions.sh`?

[2018-11-07 21:10] belaa commented on #437
@londumas Ok I ran it and it should work now

[2018-11-07 21:13] londumas commented on #437
@belaa, Could you make sure you rand on the first level of the directories? i.e on `/global/cscratch1/sd/belaa/`? I still don't have permissions.

[2018-11-07 21:44] belaa commented on #437
@londumas Hi Helion, I'm sorry, does it work now?

[2018-11-07 21:46] londumas commented on #437
@belaa, Yes it does. I will have a look at it.

[2018-11-08 01:01] londumas commented on #437
@belaa, everything looks good for the moment.
I have plotted a spectrum, it looks good with only two spectrographs instead of three in DESI.
However, the flux doesn't go down to 3600 A. Do you know why?
The same as for the upper value, it doesn't go above 10,000 A

Could you run on way more (~200,000) so I can look at the footprint,
at the noise level, at the magnitude distribution...

[2018-11-08 10:52] andreufont commented on #437
Hi @londumas - there are two things that need to be done:
 - modify the code so that it can add eBOSS-like noise, that's what @belaa is working on.
 - modify the code so that it generates spectra only in the BOSS+eBOSS footprint, and with the right density of high-z quasars (z>2.1) per square degree (around 16 in the BOSS only area, 24 in the BOSS+eBOSS area). I started a branch to do the latter,

[2018-11-08 21:18] londumas commented on #437
@andreufont, is it this one https://github.com/desihub/desisim/tree/eboss-quickquasars?
If yes, it seems that it will take me a bit of time to get into it since I never had to work with this part of the code.
Would you have the time to work on it?

[2018-11-08 21:23] andreufont commented on #437
Hi @londumas, yes, I can take care of the code. But it would be helpful if you could generate a density map of the DR14Q catalog in HEALpix pixels, that I can use to set the footprint

[2018-11-09 05:35] ngbusca commented on #437
@andreufont @londumas is the idea to use the density map as a PDF for the simulated quasar angular positions? it an issue that we might be imprinting some of the clustering in the real-data sample?

[2018-11-09 09:31] andreufont commented on #437
@ngbusca @londumas - It is not clear what the best strategy is, to be honest.

For DESI mocks, in quickquasars we use Nside=256, as shown in lines 665 / 666 of quickquasars:
footprint_healpix_nside=256 # same resolution as original map so we don't loose anything
footprint_healpix_weight = load_pixweight(footprint_healpix_nside, pixmap=pixmap)

But that is for the footprint, it does not capture inf

[2018-11-09 15:10] londumas commented on #437
@andreufont, Yes I agree, it will only imprint correlations on the auto-correlation of quasars.
Could you tell me what type of formt you need? Is fits file ok? Something like healpix index, density.

[2018-11-09 15:52] andreufont commented on #437
Hi @londumas , I think the easiest thing would be if you added a function in desisim/py/desisim/eboss.py that reads whatever file you generate, and returns the density of quasars in DR14Q as a function of (ra,dec). You can find a placeholder there, that you would just need to substitute. I believe the rest of the code would already work.

https://github.com/desihub/desisim/blob/eboss-quickquasars/

[2018-11-11 22:53] andreufont commented on #437
Hi @londumas - I've added a text file in desisim/py/desisim with the BOSS/eBOSS footprint, and it seems to work fine. You can run quickquasars with --eboss and it downsamples the skewers to match the density of DR14Q.

It is a temporary solution, someone that knows better how desihub works should come up with a more stable solution before asking to merge.

[2018-11-12 10:46] TEtourneau opened #448 "RA_TARGET changed to TARGET_RA"
Hello,

it seems that the column names in the extension FIBERMAP have changed.
It prevents desi_zcatalog to produce the zcat.

Here is the error I got when running desi_zcatalog:

Traceback (most recent call last):
  File "/global/common/software/desi/cori/desiconda/20180709-1.2.6-spec/code/desispec/master/bin/desi_zcatalog", line 91, in <module>
    ndtype=np.dtype( zbest.dtype.descr + [("RA",str

[2018-11-12 14:32] andreufont commented on #448
Hi @TEtourneau - Yes, I believe desispec and desisim are not synchronized.

You could try to fix it and submit a PR, but it is probably faster if @julienguy or @moustakas take a look at it?

[2018-11-12 15:06] londumas commented on #437
@andreufont, Thank you very much.
This is very helpful. Did you run it somewhere on Nersc? Is the inhomogenieties in the footprint of eBOSS also taken care of, i.e. the high density in Sequels...

[2018-11-12 15:11] andreufont commented on #437
Hi @londumas - This is the footprint file that I added. I only use different colors to distinguish three regimes, I always struggle with imshow :-(

[dens_DR14Q.pdf](https://github.com/desihub/desisim/files/2572396/dens_DR14Q.pdf)

I'm transferring london/v4.0 to my desktop, but it will take several hours... Meanwhile I have tried with several hundred HEALPix pixels and it seems to work.

I can no

[2018-11-12 15:58] londumas commented on #437
@andreufont, I will take care of this.

[2018-11-12 16:02] andreufont commented on #437
@londumas - if you go to NERSC, and chekcout the eboss-quickquasars branch of desisim, you should be able to generate to use the desisim/etc/quickquasar_slurm_script.sh to generate eBOSS mocks with only the following changes:

outdir=/project/projectdirs/desi/mocks/lya_forest/london/v4.0/eboss-0.0/

command="srun -N 1 -n 1 -c $nthreads  quickquasars -i $tfiles --nproc $nthreads --outdir $outdir/sp

[2018-11-12 16:04] londumas commented on #437
@andreufont, Perfect, thank you very much. Let me try this first today when I find the time.
Let's call if I fail to do it.

[2018-11-12 16:46] sbailey commented on #448
My bad!  As part of the fibermap refactor I had grepped for `RA_TARGET` in the py/desispec files, but not in bin, and our integration test doesn't use the `--fibermap` option which trips this bug.  I think I fixed this in the target_ra branch of desispec, though I haven't tested it at all.  Can you give it a quick try or at least post exactly what desi_zcatalog command you are running?

[2018-11-12 16:59] julienguy commented on #448
I would be useful if desi_zcatalog is backward compatible for a while given all the datachallenge data from previous version we have on disk.

[2018-11-12 17:32] sbailey commented on #448
Backwards compatibility is a little messy because of `MAG` (old) vs. `FLUX_*` (new) so the final output catalog format is also different.  The code could do both with some if/then logic, but since we only have to run `desi_zcatalog` once per production, would it be ok to just say that old productions require an older version of desispec, and new productions require a newer version?

[2018-11-12 18:48] julienguy commented on #448
Ideally one could write FLUX_* in the output catalog from the old MAG in the catalog if MAG is present in the fibermap. There is also the issue of the new truth table(s) format.

[2018-11-12 21:58] londumas commented on #437
@andreufont, I managed to run quickquasar.
Some transmission files did not work.
I wonder if it is not because of the error message at the end: `BASS-MzLS-BASS-MzLS not a valid photo system`. @julienguy do you know anything about that?
The test script at then end gives the same error message.

Data:
![eboss_data](https://user-images.githubusercontent.com/3166436/48377365-d64c4c80-e68a-11e8-8fea-7a

[2018-11-12 23:09] londumas commented on #437
@julienguy and @andreufont, sory for the noise. I simply had to update SIMQSO to master. And it works now.

[2018-11-12 23:20] moustakas commented on #437
Tag `v1.2.3` of simqso would also have worked:
  https://github.com/imcgreer/simqso/releases/tag/v1.2.3

[2018-11-13 00:54] londumas commented on #437
@andreufont, I have rerun quickquasar on the branch `eboss-quickquasars`: `/project/projectdirs/desi/mocks/lya_forest/london/v4.0/eboss-0.0`. For the moment, everything looks good: footprint, SNR, magnitude, ...
I will run do_deltas.py tomorrow and the correlation functions.

Here are things we could work on:
- downsampling in redshift according to the DR14Q n(z)
- Work better on the footprint, th

[2018-11-13 04:34] sbailey commented on #448
OK, I added backwards compatibility, while writing a consistent output format in either case (RA, DEC, FLUX_G/R/Z) whether the inputs have RA/DEC_TARGET+MAG[] or TARGET_RA/DEC+FLUX_G/R/Z.

Note: the fix in in desispec branch target_ra, not desisim.  I didn't notice until now that this ticket was in desisim instead of desispec, but I don't want to lose the conversation.  I'll open a PR in a moment.

[2018-11-13 08:39] belaa commented on #437
@londumas Sorry for the lag - my computer was out of commission for a couple days. I have looked into the code and think I may know why it is showing a limited spectral range, but need to investigate this further. As for running this on more realizations, I'm afraid I am still unfamiliar with the details of how quickquasars works - is each quasar specified by a transmission file? And if so, can yo

[2018-11-13 09:49] andreufont commented on #437
Hi @londumas - I'm glad it worked, and very curious to see how the correlation/BAO looks like!

A couple of comments on your comments:

H) downsampling in redshift according to the DR14Q n(z)
A) there are two options. We could run SDSS-only CoLoRe boxes, but it would be better if we could recycle the DESI boxes. I agree with you that for this the easiest would be to find some sort of function p(z)

[2018-11-13 14:14] andreufont commented on #437
About the footprint in DR14Q and in the mocks, I add here the footprint I get when using the cut in zmin=2.15.

![sdss_footprint](https://user-images.githubusercontent.com/3873863/48418865-54255c00-e74e-11e8-829d-5de368a226ac.png)
![sdss_mock_footprint](https://user-images.githubusercontent.com/3873863/48418866-54255c00-e74e-11e8-95b0-ff71aecf8c94.png)

I also attach the python script in case you

[2018-11-13 15:05] londumas commented on #437
@belaa, I did not realize the version I was testing only @andreufont version and not yours.
I can run easily on more transmission files. What branch should I checkout and what option should I use? Are all the changes in your current branch?

[2018-11-13 19:10] belaa commented on #437
@londumas I don't think it should be difficult to fix. I will take a look later today.

[2018-11-13 19:30] belaa commented on #437
@londumas I just pushed my `eboss_quickquasars` branch on desihub/desisim, which should be run while on my desihub/specsim `eboss_config` branch. I am currently calling quickquasars with the following options:

```quickquasars --exptime 4000. -i path_to_transmission_files/transmission-16-333.fits --outdir . --downsampling 0.1 --zbest --mags --overwrite --nmax 10 --no-simqso```

Please let me know

[2018-11-13 21:53] londumas commented on #437
@belaa, could you merge your branch with master? It is very far behind.

[2018-11-13 22:01] londumas commented on #437
@belaa, I merged the local version of your branch with master and got the following error.
Could you have a look at what is happening?
[code]

[2018-11-13 22:47] #448 closed

[2018-11-13 23:07] belaa commented on #437
@londumas Are you also pointing to the eboss_config branch in specsim?

[2018-11-14 00:11] londumas commented on #437
@belaa, yes.

[2018-11-14 01:03] alxogm commented on #441
Hi @londumas I made the changes. https://github.com/desihub/desisim/compare/qquasar_addfeature I'll make a PR when tests passes, if you agree.

[2018-11-14 17:36] londumas commented on #437
@belaa, I have tried to also merge `desihub/specsim` `eboss_config` branch with master and it gives me the same error: `RuntimeError: Wavelength grid min does not cover b-camera response.` Could you have a look?

[2018-11-14 17:39] alxogm commented on #447
Hi @andreufont so I moved the code to add the random FoG correction to quasar redshift before generating the template
See [ #L399](https://github.com/desihub/desisim/blob/20ae01f46b94e424b4b86bb46a3574b2e31f01f3/py/desisim/scripts/quickquasars.py#L399)

This is also affecting the addition of BALs. I haven't tested if the effect is large, but probably is best to use the no_FOG redshift right for th

[2018-11-14 17:40] londumas commented on #441
Hi @alxogm, Thank you for the work, we can move on and I be happy to test the results on the next iteration of the mocks.

[2018-11-14 17:41] andreufont commented on #447
@alxogm - It looks good. Why do you say we should use the no_FOG for the BALs? I would consider that the true redshift of the quasar, the one we would have if we had perfect N-body simulations, would be z + dz_fog, so that is the one I would use.

[2018-11-14 17:43] alxogm commented on #442
@londumas Should this shift be added before generating the template?   Right now is only added at the very end, when writing the zbest file.

Also, I imagine this should not affect the addition of DLAs/BALs metals, etc., right?

[2018-11-14 17:59] andreufont commented on #442
@alxogm - I believe it comes from the way we measure the redshift with redrock, not something "real". Therefore I would add it at the last step, just like we do with sigma_z_fit.

@londumas, do you agree?

[2018-11-14 18:07] londumas commented on #442
@andreufont and @alxogm, yes I agree.
This feature should not be added to the spectrum. The wavelength solution of the BOSS and DESI spectrograph are very good. If there is a shift because of it it should be very small.
The `Delta_r_parallel ~ 100 km/s` shift is an effect on the measured quasar redshift from redrock.
So:
- either the quick-quasar mocks go through redrock and then you don't add the

[2018-11-14 18:11] andreufont commented on #442
I agree with what you say above @londumas.

[2018-11-14 18:12] alxogm commented on #442
Yes, I just wanted to be sure.
Thanks

[2018-11-14 18:15] alxogm commented on #447
@andreufont, I was confused on whether it should affect the inclusion of all DLAs, BALs, metals... and the shift we are adding in #442 (which we clarified)

If considered as the "true redshift" then I'll move this lines  to use it everywhere [#L250](https://github.com/desihub/desisim/blob/20ae01f46b94e424b4b86bb46a3574b2e31f01f3/py/desisim/scripts/quickquasars.py#L250)

do you agree?

[2018-11-14 18:24] andreufont commented on #447
Yes, I would add it right before that line.

[2018-11-14 21:15] londumas commented on #437
@andreufont, I have updated the footprint file to remove DR7 and start at `z=1.8`. Can I commit the changes into your branch?
Here is the result. We have to have a lower downsampling. We have twice in the mocks, what we have in the DR14Q data. Do you know how to fix this?
The mean redshift is not the same because of the redshift distribution.
I am working on this.

![footprint](https://user-images

[2018-11-14 22:11] belaa commented on #437
@londumas Yes I will look into this and get back to you.

[2018-11-15 01:30] londumas commented on #437
@andreufont, you can forget my remarks. I found the solutions.
I have been pushing to the branch and I have nearly finished implementing the addition of the SDSS redshift distribution.

[2018-11-15 20:53] londumas commented on #437
@andreufont, the latest version of `desisim:eboss-quickquasars` branch is ready to be reviewed and merged.
It gives:
- the correct redshift distribution
- the correction footprint density

Is there other things you want to have a look to before we do a PR?

[code]

![hist_redshift](https://user-images.githubusercontent.com/3166436/48580687-1dca1700-e8dd-11e8-9abb-51f4bbcf60cd.png)

![footprint_dat

[2018-11-16 23:37] belaa commented on #437
@londumas Can you please look at the output in `/global/cscratch1/sd/belaa/desi/quickquasar_output/run2` and confirm that the wavelength goes below 3600/above 10000A?

[2018-11-20 00:14] londumas opened #451 "`BRICKNAME` doesn't exist in `quickspectra` output"
I create a fake quasar using `desisim.templates.QSO()`, then I expand it with `quickspectra` and I fit it using `redrock`.
The code used to work, but it doesn't anymore on master. Do you know why `BRICKNAME` can't be found in the output file of `quickspectra`?

The error:

[code]

The code:

[code]

[2018-11-20 00:40] sbailey commented on #451
In a separate branch for other reasons I was about to remove `BRICKNAME` from the redrock zbest output, since if/when it exists, it is already contained in the FIBERMAP table and target catalogs against which we would match.  Seems silly for redrock to crash on whether this column exists or not.

i.e. let's fix this by removing the requirement from redrock instead of adding that column to quickspe

[2018-11-20 00:51] londumas commented on #451
@sbailey, Thanks for the answer. Do you want me to do it or you do it?

[2018-11-20 00:56] sbailey commented on #451
@londumas please go ahead and make the change in redrock and submit a PR.  I'm working on some other changes to how desispec pipeline + redrock work together when there are errors so you shouldn't wait for me.

[2018-11-20 04:50] sbailey commented on #451
Fixed in desihub/redrock#157 by not requiring the BRICKNAME column anymore.  Closing this ticket.

[2018-11-20 04:50] #451 closed

[2018-11-20 18:02] londumas commented on #437
@belaa, do you think you would have time to work on this?
If not, it is ok, let's have you do a PR.

[2018-11-20 21:33] belaa commented on #437
@londumas yes, I can do this tomorrow.

[2018-11-20 21:33] londumas commented on #437
@belaa, perfect. Thank you.

[2018-11-22 17:36] #432 closed

[2018-12-02 15:46] moustakas commented on #445
Done in https://github.com/desihub/desitarget/pull/425.

[2018-12-02 15:46] #445 closed

[2018-12-03 19:32] londumas commented on #447
@alxogm, Seems to be fixed. Can we close?

[2018-12-03 19:32] londumas commented on #442
@alxogm, Seems to be fixed. Can we close?

[2018-12-03 19:32] londumas commented on #441
@alxogm, Seems to be fixed. Can we close?

[2018-12-03 19:39] londumas opened #456 "quickquasars: TARGETID is not correct in truth-16-*.fits"
I think that quickquasars doesn't save TARGETID with enough precision. Example:

import fitsio
h = fitsio.FITS('/global/projecta/projectdirs/desi/mocks/lya_forest/london/v4.0.0/eboss-0.3/spectra-16/1/160/spectra-16-160.fits')
print(h[1]['TARGETID'][:][0])

h = fitsio.FITS('/global/projecta/projectdirs/desi/mocks/lya_forest/london/v4.0.0/eboss-0.3/spectra-16/1/160/zbest-16-160.fits')
print(h[1]['TA

[2018-12-03 22:19] #447 closed

[2018-12-03 22:22] #442 closed

[2018-12-04 00:48] londumas opened #458 "`SIMQSO` sets every quasar with same seed"
I am not sure I understand exactly what `SEED` is in QSO and SIMQSO, however, they are very different.
For QSO, every seed is different, for SIMQSO, they are nearly all the same.
@moustakas, is that normal?

[code]

[2018-12-04 00:57] moustakas commented on #458
Yes, this is expected and it's because of how the code interacts with `simqso`.  Basically, the `SIMQSO` templates are generated in batches / iterations with one unique seed per batch
https://github.com/desihub/desisim/blob/master/py/desisim/templates.py#L2708-L2710
until enough of the requested templates pass the color-cuts.

In `QSO`, by comparison, we build one template at a time with one uniqu

[2018-12-04 00:58] londumas commented on #458
ok, thanks. Just wanted to be sure. Thanks @moustakas.

[2018-12-04 00:58] #458 closed

[2018-12-04 14:46] #456 closed

[2018-12-10 01:54] moustakas opened #460 "check in the v3.1 basis templates"
This issue is to track the `v3.1` basis templates, which should get into the `18.12` software release to make full use of the improvements in https://github.com/desihub/desitarget/pull/427 and #453.

The current version of these new (`v3.1`) templates are in https://desi.lbl.gov/svn/data/basis_templates/trunk and I'm not expecting to make any more changes.  However, we may want to make sure https:

[2018-12-10 20:00] michaelJwilson commented on #205
Not to add further noise, but I have the 5 Shapley composites with lambda = [899., 2000.] AA,
split by equivalent width.  These could be similar in spirit to e.g. the galaxy PCA, assuming a Fv = constant redwards extension.

I've a script that turns these into gal_maker style (wave, flux, meta), randomly sampling from hardcoded redshifts and colors.  I can also turn them into old style rr template

[2018-12-10 20:11] michaelJwilson opened #461 "Allow for propagation of 'survey' specification choice for specsim configuration file from main in quickspectra.py"
Allow for propagation of 'survey' specification choice for specsim configuration file from main in quickspectra.py

Simple ~4 liner change to scripts/quickspectra.py and py/simexp.py, passing on the argument.
(Too small a ticket?)

[2018-12-11 01:26] michaelJwilson opened #462 "quickspectra --coadd"
Similar to --repeat except that targetids are matched, such that redrock treats the repeats as coadds.
Solution fork available (if anyone cares!)

[2018-12-11 03:47] michaelJwilson opened #463 "quickspectra --snr"
Generate cumulative S/N output for all spectra realisations generated by quickspectra run - as a proxy for redshift success.

[2018-12-11 06:19] sbailey commented on #460
I have vetted that https://desi.lbl.gov/svn/data/basis_templates/trunk works for the integration test from simulating targets through flux calibration and fitting redshifts.  OK to proceed with tagging basis_templates 3.1.

[2018-12-11 16:38] moustakas commented on #460
Heads up, @sbailey:

The `stdstar_templates_v2.2.fits` file you created is missing the HDU names `FLUX` and `WAVE` for HDUs zero and two, respectively, which I made a mandatory part of the data model back in `v2.6`, and so `desisim-testdata/bin/trim_basis_templates` is crashing.

I'll add a work-around in code for now (since I've already tagged `v3.1` in svn) but we should address this when we rev

[2018-12-11 16:54] moustakas commented on #460
The `v3.1` tag has been created at
https://desi.lbl.gov/svn/data/basis_templates/tags/v3.1/
and the "lite" test templates were checked into
https://github.com/desihub/desisim-testdata/pull/14

Begging forgiveness in advance, I'm going to update `desisim/.travis.yaml` (to use `DESISIM_TESTDATA_VERSION=master`, although we should make a tag) and `desisim/etc/desisim.module` to use the `v3.1` basis t

[2018-12-11 18:36] sbailey commented on #460
Thank for making the basis_templates/v3.1 tag.  I've updated the master installations at NERSC to use basis_templates/v3.1, made a new desisim-testdata/0.6.1 tag (desisim-testdata/master had been updated to match basis_templates/v3.1), and opened a PR #464 for desisim to use that version for testing.

[2018-12-11 18:36] #460 closed

[2018-12-11 19:43] weaverba137 commented on #460
@moustakas, At least some of the files are world-readable and don't need to be.  Also, is that really a checkout, or is it an export?  If it were a checkout, there should be a .svn directory somewhere.

[2019-01-22 15:05] sybenzvi commented on #414
@moustakas, Ouail Kitouni and I created a sne_test branch of desisim and have SN Ia injection working again. The only difference between the branch and the previous working version is that we're not normalizing the flux using the r-filter. We'll tweak things this week and submit a pull request when it's ready for merger.

[2019-01-25 17:55] londumas commented on #437
@belaa, I did a `merge master` for `eboss_quickquasars` to put it up to date.

[2019-02-16 01:02] londumas opened #468 "Add dust-extinction in quickquasar"
Add dust-extinction in quickquasar by default, to simulated data coming from desi.
The desi data will not be corrected for dust-extinction.

[2019-02-16 01:08] moustakas commented on #468
In case it's helpful, we do this in `desitarget.mock.mockmaker` [here](https://github.com/desihub/desitarget/blob/master/py/desitarget/mock/mockmaker.py#L298-L312) and [here](https://github.com/desihub/desitarget/blob/master/py/desitarget/mock/mockmaker.py#L1038-L1039).

[2019-02-19 20:03] alxogm commented on #468
Thanks @moustakas. It is very helpful, I'm working in it...

[2019-03-15 15:41] londumas opened #469 "Card is too long, comment will be truncated"
Sending the following command
`quickquasars -i /project/projectdirs/desi/mocks/lya_forest/london/v6.0/v6.0.0/1/137/transmission-16-137.fits --outdir /project/projectdirs/desi/mocks/lya_forest/london/v6.0/v6.0.0/eboss-0.0/test-0-0/spectra-16 --zbest --bbflux --eboss --seed 123 --shift_kms_los -100.0 --gamma_kms_zfit 400.0 --zmin 1.8 --metals LYB --overwrite  --nmax 1`,
I get the following warning m

[2019-03-15 17:15] alxogm commented on #468
Sorry for the delay, I've missed to comment the progress on this. I've tried to follow the way it is done in desitarget.mockmaker.  See https://github.com/desihub/desisim/compare/qquasar_extintion
I add here a couple of plots, of the simulated spectra with and without extinction, and the result on the 1D CF... @londumas  you might have a best feeling of whether the change is as expected...   shoul

[2019-03-15 17:21] alxogm commented on #468
@londumas I also wanted to ask if this option should apply when --eboss is used ?

[2019-03-15 17:28] londumas commented on #468
@alxogm, thanks for doing that. Looks good. I don't think we need to look at the 3d correlation. And yes, we need this option for all type of surveys. Simply add something like `--dust-extinction`.

[2019-03-22 15:02] londumas opened #476 "Lya should be `1215.67` everywhere"
In Lyman-alpha studies we use `lambda_lya = 1215.67 A`, a difference in this definition introduces a shift of the QSO x Lya cross-correlation. I don't know to what use are these three lines, however, they are the only one I found with a value different than `1215.67`. It would be nice to have a common definition across all DESI. Can we simply update these three lines?

https://github.com/desihub/d

[2019-03-22 15:03] londumas commented on #476
I simply did a `grep '1215' -r * --include \*.py` to look at all the desi code I have on my Nersc home.

[2019-03-22 15:42] londumas opened #477 "definition of speed of light is not consistent within DESI"
Doing the following simple grep on all the DESI packages, maybe there are other I have not thought of:
 - `grep '2.99' -r * --include \*.py`
 - `grep '299' -r * --include \*.py`
 - `grep '3e5' -r * --include \*.py`
 - `grep '3e8' -r * --include \*.py`
 - `grep '299792458' -r * --include \*.py`
 - `grep '2.99792458' -r * --include \*.py`

It shows that different definition of the speed of light is

[2019-03-22 16:16] sbailey commented on #476
@profxj any objections (or implications) to changing these to 1215.67?  I think all of them reference deprecated code since we aren't using BOSS PCA QSO templates anymore (though we might revive the code for updating templates with DESI SV QSOs, so it is worth maintaining it).

[2019-03-22 18:50] weaverba137 commented on #477
[astropy.constants](http://docs.astropy.org/en/stable/constants/index.html) would also work, but we should pick one or the other and stick with it.

Also, be sure to check for `3E5`, or use `grep -i`!

[2019-03-22 19:29] moustakas commented on #477
Nice catch.

In [`desitarget.mock.mockmaker`](https://github.com/desihub/desitarget/blob/master/py/desitarget/mock/mockmaker.py#L29-L33) we do
[code]

[2019-03-22 19:31] moustakas commented on #476
This code is indeed deprecated now, but may be useful later.  In case @profxj misses this or is otherwise indisposed, I don't see any negative consequences to updating these wavelengths with a PR.

[2019-03-23 16:53] londumas commented on #476
Fixed in PR https://github.com/desihub/desisim/pull/478

[2019-03-23 17:34] londumas commented on #477
The remaining, I could find, and I need to understand before changing are:
`desi/code/desispec/py/desispec/fluxcalibration.py:    ZP_fnu = ZP_flambda * wave**2 / (2.9979e18)  # c in A/s
`
and
`desi/code/specter/py/specter/throughput.py:        self._hc = 6.62606957e-27 * 2.99792458e8 * 1e10`

[2019-03-25 22:19] julienguy opened #480 "Filter transmissions should not be in speclite"
I have tried to  simulate an ELG spectrum.
[code]
Because I have not the latest version of speclite, I got the following error:
[code]

Pass band filter curves of the DESI imaging surveys, which are important calibration data, should not be stored in speclite which is not a package of DESI. The filter transmission curves used for the interpretation of the DESI imaging should be saved in an environ

[2019-04-01 17:10] #476 closed

[2019-04-01 20:48] londumas opened #482 "MOCKID is TARGETID in other hdu except DLA"
https://github.com/desihub/desisim/blob/9459dda8ab2bc7c9218f0bce64bc992849b9b4e7/py/desisim/scripts/quickquasars.py#L395

In other HDU we don't use MOCKID but TARGETID, it is very nice to have a common name everywhere. See for example:
https://github.com/desihub/desisim/blob/9459dda8ab2bc7c9218f0bce64bc992849b9b4e7/py/desisim/scripts/quickquasars.py#L499

[2019-04-01 22:18] londumas commented on #482
Fixed in https://github.com/desihub/desisim/pull/483

[2019-04-01 22:18] #482 closed

[2019-04-03 13:01] londumas opened #484 "difference in realization of the noise in quickquasar"
Comparing two different runs of quickquasar using the same seed but one different option, I get some difference in the realization of the noise and of the continuum. I compare here:
 - /project/projectdirs/desi/mocks/lya_forest/london/v6.0/v6.0.0/eboss-0.0
 - /project/projectdirs/desi/mocks/lya_forest/london/v6.0/v6.0.0/eboss-0.2 (same as before, but adding `--dla file"`)

My plan is to first see

[2019-04-03 13:17] andreufont commented on #484
Hi @londumas , I don't think this looks too bad... in the sense that there are very flat regions, meaning that the random seeds in the noise are probably the same.

The spikes are just (hopefully) caused by the presence of the DLAs, it would be great to overplot the center of the DLAs in that plot, just in case.

The reason there are broadband terms is because we enforce the spectrum to have a giv

[2019-04-03 14:07] alxogm commented on #484
@londumas I think the spikes are caused by the (small) flux values, if you plot the difference instead of ratio should look better.  At least it did when we look at that at some time ago, we were having  same issue, I think it was @andreufont who noted that at that point...

[2019-04-03 16:32] londumas commented on #484
@andreufont and @alxogm, actually if I send the following, with and without DLA and ech twice I see exactly no difference. So it is possible that I updated desisim to the latests branch between `eboss-0.0` and `eboss-0.2`, and somehow we got differences in the noise realization.
[code]

![diff](https://user-images.githubusercontent.com/3166436/55496186-ac74d180-55fb-11e9-8547-cf08a34d9b67.png)

[2019-04-03 16:32] #484 closed

[2019-04-30 20:13] paulmartini opened #487 "Put new BAL templates file into templates hierarchy"
I have created a new BAL templates file: BAL-templates-v0.3.fits. The file is presently in moustakas's scratch space. Please incorporate this into the templates hierarchy.

The new templates file includes more information about the properties of the BALs, such as BI, AI, and velocity range(s) for the troughs. The values are from Guo & Martini (2010). I also removed several marginal templates.

[2019-05-15 18:22] sbailey opened #489 "simexp crashes if first truth file is missing a target class"
As originally discovered by @julianbautista (full traceback below):

`desispec.simexp.get_mock_spectra` crashes if the first truth file is missing a target class that a later truth file does have.  In Julian's case, he's processing tile 12725 which covered nside=64 healpixels [4989, 4990, 4991, 5076...].  `/global/cscratch1/sd/jbautist/desi/dev/end2end_lya/targets/49/4989/truth-64-4989.fits` does

[2019-05-15 21:56] julianbautista commented on #489
I tested this change and all works. I submitted a PR with this fix. Thanks!

[2019-05-15 23:01] sbailey commented on #489
Fixed by PR #490.  Closing.

[2019-05-15 23:01] #489 closed

[2019-05-17 15:25] londumas commented on #468
@alxogm, can we close as fixed? I think you did all this job.

[2019-05-17 15:33] alxogm commented on #468
yes, lets close it. we'll rise a new issue if something comes up. Thanks

[2019-05-17 15:33] #468 closed

[2019-05-17 15:44] andreufont commented on #468
I'd add some documentation on this on a wiki, so that we don't forget how it works in the future. We had lots of dicussions on GitHub, but it would be really useful to document them somewhere more permanent. May be even present the changes at a telecon, explaining the different options, and looking for a volunteer to look at the effect of the varying extinction on the 3D clustering.

Some inspirat

[2019-05-17 16:34] londumas opened #491 "[quickquasar] store master seed in fits header"
Store master seed in fits header, in quickquasar

[2019-05-17 16:34] londumas opened #492 "[quickquasar] Warning message for metal transition outside range"
Warning message for metal transition outside range, in quickquasar

[2019-05-29 22:14] michaelJwilson opened #493 "overwrite issues with desisim/master/bin/wrap-fastframe"
Lines 83/84 ignore the relevance of args.clobber.  If "to clobber", all simspec files should be appended, not just those that do not exist.

Similarly, logfiles should be placed in the dir. referred to by --outdir rather than the dir. of original simspec.  Otherwise, e.g. there can be file permission issues when running on a preproduced set of simspec files.

[2019-05-30 06:03] michaelJwilson commented on #493
Ok, I think these changes are done:

i)  add args.clobber to generation of simspec list.
ii)  place logfiles in outdir if provided, otherwise in original simspec as previously.  Logfiles inherit /night/exposure/ structure of simspec files in both cases.
iii)  --cframe run off the sv branch to use appropriate bits.

Largely goes through fine.  Output is here:

```/global/cscratch1/sd/mjwilson/svdc-

[2019-05-30 06:27] michaelJwilson commented on #493
caveat:  --clobber is passed to fastframe by the wrapper, which doesn't parse --clobber as an argument.  Ultimately, desispec.io.write_frame assumes overwrite=True, and uses os.rename to move a .tmp to the destination, both irrespective of args.clobber.

[2019-05-30 18:38] sbailey commented on #493
Short version: thanks, I'll incorporate your changes into my sv branch in PR #494 .

Long version:

Lesson learned on always working in a branch instead of directly in master.  From the DESI wiki UsingGit page:

**If you made changes to master and you want to retroactively turn that into a branch for further development and/or sending a pull request**
[code]

IERS warnings are harmless, having to

[2019-05-30 19:16] sbailey commented on #493
I think what you did with wrap-fastframe clobber is correct: since fastframe itself will clobber if called, its up to wrap-fastframe whether to call it, based upon --clobber and the pre-existence of files (if not clobbering).  Thanks for this.

[2019-05-31 00:52] sbailey commented on #330
fixed in PR #332.

[2019-05-31 00:52] #330 closed

[2019-05-31 00:53] sbailey commented on #362
Fixed in PR #363.

[2019-05-31 00:53] #362 closed

[2019-05-31 00:55] sbailey commented on #288
Haven't seen this in a long time.  Closing.

[2019-05-31 00:55] #288 closed

[2019-05-31 00:56] sbailey commented on #269
Works with astropy 2 now; closing.

[2019-05-31 00:56] #269 closed

[2019-06-07 09:55] alxogm commented on #491
I can add it in the branch qquasar_readmetal I'm working on. sorry I didn't saw it before.

[2019-06-12 11:12] michaelJwilson commented on #493
Reopening:  what "we" really want is to port the "if not done, do" logic to outputdir calls, rather than assuming this applies only to desispec.io.simdir() - enabling N>1 calls to complete a reduction.  Any arguments against?

[2019-06-12 14:25] michaelJwilson commented on #493
Need to port the "if not done, do" logic to the output dir calls.  I have the fix.

Any objection to providing expose types as an argument?  Defaulting to flat,science.

[2019-06-13 13:42] alxogm commented on #491
Hi @londumas Do you mean in the truth_file? or in spectra_files?

[2019-07-05 16:47] jvstermer opened #499 "add option to run quickquasars without adding a continuum"
Add option to run quickquasars without adding a continuum. This will give the same resolution as dressed mocks to the raw mocks. @londumas What do you think?

[2019-07-24 05:35] michaelJwilson opened #500 "Track quick survey issues"
Record of issues for a one-percent survey run of quicksurvey:

--  hardcoded default argument of std.fits is incompatiable with most recent fiberassign versions:  rewrite to standards-dark, standards-bright or better yet provide argument directly.

--  add --footprint to simulate_epoch call to fiberassign, propagating arg. from quicksurvey call.
--  Handle fibstatus.

Call for replication:

Link t

[2019-08-08 02:02] alxogm commented on #404
@andreufont @moustakas  Finally, I sat down to complete this, since we need it for addressing a TS question ...

![Screen Shot 2019-08-07 at 8 52 22 PM](https://user-images.githubusercontent.com/14896082/62669454-502d1000-b955-11e9-98bf-2c3cbf777fc0.png)
In this plot I compare what we get in quickquasars as is now, and what I get from adapting the code by Kirkby, referenced above. This is only for

[2019-08-08 06:33] andreufont commented on #404
Hi @alxogm - could you explain a bit better what you are plotting? What is the meaning of the different lines? Which ones are predictions and which ones are stochastic realizations? May be running on more pixels would make it a bit easier to see the differences between the different lines.

[2019-08-09 23:36] alxogm commented on #404
![Screen Shot 2019-08-09 at 6 33 25 PM](https://user-images.githubusercontent.com/14896082/62814097-3534da00-bad4-11e9-8de4-29219a0f95dd.png)

Hi @andreufont, here is a comparison with a full run with downsampling=0.1 (London v9.0). The redline is what we called ([here](https://github.com/desihub/desisim/issues/404#issuecomment-423381794)) the "expected QLF in DESI", while the blue line is the mag

[2019-08-19 16:27] alxogm commented on #404
Hi @andreufont.  Implementation worked for QSO as well. Again in the plots I show the magnitudes as being sampled from the default setup in SIMQSO(orange) and QSO (red), and the ones sampled from the QLF (green and purple). The ylabel, I changed it from QLF --> N/Ntot, since that is what I'm actually plotting from the quickquasar runs, the blue line corresponds then to the QLF marginalized over re

[2019-08-20 15:00] andreufont commented on #404
Could you describe this at the telecon next week? I'm still confused about the results... Is the drop at large values of MAG_R caused by the binning of the histogram? I would have expected that the true luminosity function would keep increasing to larger and larger values of MAG_R... Are you applying any target selection? May be making narrow binning in the histogram would help.

[2019-08-20 17:01] alxogm commented on #404
Hi @andreufont , yes the drop is due to the binning, below is a plot for a 0.1 binsize. For the  SIMQSO and QSO the only cuts are due to the  magnitude range (17,22.7).
On the other hand, I'm using the  binning of 0.5 since the "expected" QLF https://desi.lbl.gov/trac/browser/code/desimodel/trunk/data/targets/nzr_qso.dat has such binning. In this case the drop is also in the sampling, because magn

[2019-09-20 13:09] paulmartini opened #504 "Updated BAL templates"
Hi @moustakas,

Just letting you know I've put a new BAL templates file in .../desi/spectro/templates/basis_templates/v3.1/ called bal_templates_v3.0.fits.

The new templates file has about 1500 BAL templates (vs 500 for the previous version). Other improvements are extended wavelength coverage into the forest region (adding BAL features associated with OVI, LyA, and NV), as well as various measur

[2019-09-20 17:03] sbailey commented on #504
Thanks for these new templates.

@paulmartini please add these to the SVN repo in data/basis_templates/trunk  (browsable at https://desi.lbl.gov/trac/browser/data/basis_templates/trunk), i.e. we should add to SVN and make new tags from there rather than adding files directly to the checkouts/exports of tags of the SVN repo.  At NERSC there is /global/project/projectdirs/desi/spectro/templates/basi

[2019-10-01 02:53] sbailey opened #506 "fix numpy 1.17 test failures"
When testing against numpy 1.17, we get the following new failures:
[code]
and
[code]
Figure out why and fix.

[2019-10-01 18:48] weaverba137 opened #507 "Suspiciously low QSO flux"
Independently of the Numpy 1.17 issue, we are also seeing this error on some but not all tests:

[code]

It appears that some seeds are just "bad luck" and trigger this bug.

[2019-10-10 08:52] jfarr03 opened #509 "BAL templates used are not the most up to date"
I've recently been running quickquasars and found that it is using templates from `/global/project/projectdirs/desi/spectro/templates/basis_templates/v3.1/bal_templates_v2.1.fits` when adding BALs, rather than the new `bal_templates_v3.0.fits` file (as mentioned in #504).

Is this a deliberate choice? Or should it automatically use the most recent version? I think the relevant function is `io.find

[2019-10-10 09:42] moustakas commented on #509
@jfarr03 Apologies, I have not had a chance to update and tag the basis templates with the new BAL templates.  I'll do so as soon as NERSC is back online but feel free to ping me again!

[2019-10-10 10:07] jfarr03 commented on #509
@moustakas No worries! I wasn't sure if this was a related issue as it seemed like `io.find_basis_template` was just selecting v2.1 as it came up last in the list of BAL template files when it searches with `glob`, but I guess this could have something to do with the tagging etc.

[2019-10-11 21:18] JianiDing opened #510 "Adding Fiber flux in simulation"
It would be useful to add Fiberflux in the fiber map of the simulated cframe file for the task of investigating fiber aperture loss. Thank you!

[2019-10-14 20:35] sbailey opened #511 "DESIGN_X -> FIBERASSIGN_X"
In desihub/fiberassign#228, we're renaming "DESIGN_X/Y" -> "FIBERASSIGN_X/Y" because there has been confusion about who was doing the designing (fiberassign vs. platemaker).

Update desisim to to use the new name.  If there is anywhere in desisim that needs to read and use old files, support both names.

[2019-11-02 18:06] moustakas commented on #504
Done in #513.

[2019-11-02 18:06] #504 closed

[2019-11-02 18:07] moustakas commented on #509
Done in #513.

[2019-11-02 18:07] #509 closed

[2019-11-02 18:07] moustakas commented on #487
Done in #513.

[2019-11-02 18:07] #487 closed

[2019-11-03 18:01] jfarr03 commented on #509
Thanks for this @moustakas, much appreciated!

[2019-12-07 23:08] sbailey opened #516 "don't use .. or absolute path for pkg_resources"
From the desisim unit tests:
[code]
Find where that is coming from and fix it before it breaks for real.

[2019-12-27 04:52] sbailey opened #521 "pixsim include SPECID keyword"
desispec.calibfinder now needs the keyword SPECID for data >= 20191211 due to the spectrograph renumbering.  Include this in pixsim as SPECID=SIM, and check that desispec.calibfinder config files in $DESI_SPECTRO_CALIB continue to find and use simulated calibrations in that case.

[2019-12-28 15:25] michaelJwilson opened #522 "make_mtl in quicksurvey needs obscons strings specified."
Here:
https://github.com/desihub/desisim/blob/2b964587f24b8be33b9efb4f2e002b7916db200f/py/desisim/quicksurvey.py#L226

and
https://github.com/desihub/desitarget/blob/0a1838bc641d6d7bd64e2b28a2a3d60b5a334ffa/py/desitarget/mtl.py#L19

are no longer compatible due to obscon, e.g. "DARK|GRAY" etc.

[2019-12-28 15:37] michaelJwilson commented on #522
Ah, solved within #518.

[2019-12-28 15:37] #522 closed

[2020-01-28 17:36] weaverba137 commented on #391
Fixed by #520.

[2020-01-28 17:36] #391 closed

[2020-02-24 18:56] sybenzvi opened #524 "Remove sncosmo from transients or make it a weak dependency."
The [sncosmo](https://sncosmo.readthedocs.io/) package should be a weak dependency of desisim or be removed entirely. Currently affects just the transients branch.

[2020-02-24 19:33] sbailey commented on #524
Agreed.  At worst it should only be required if executing a transients-specific function that uses sncosmo code.  It should not be required to import any desisim code.  i.e. any sncosmo imports should be "hidden" inside functions, not at the top level of modules.

[2020-03-07 13:46] #414 closed

[2020-03-07 15:01] moustakas commented on #414
What's the plan for getting your branch into `master`?

[2020-03-08 13:45] sybenzvi commented on #414
Thanks for checking in @moustakas. I changed the interface pretty significantly during the past week and finally got it set up so that we can inject arbitrary transients, not just the single Ia model in DES_BASIS_TEMPLATES.

Regarding the plan, I'm 95% done. I need to clean up the metadata a little and make sncosmo a weak dependency of the new transients submodule. I should be ready to submit a PR

[2020-03-08 15:18] sybenzvi commented on #524
The sncosmo import is now protected by a try/except block. If a user hasn't installed sncosmo the transients submodule will still be loaded but none of the models depending on the sncosmo package will appear in the transient model registry. It should be transparent for end users.

[2020-03-08 15:18] #524 closed

[2020-03-09 22:18] alxogm commented on #499
@jvstermer Did you did something along this lines? And still think is useful? With Andreu we are discussing whether to add an option to save the continum, or to save the flux divided by the continum... So we would like to know if you have a branch or something that already do this?

[2020-03-18 16:00] jvstermer commented on #499
@alxogm I do have a local branch that I can push, where I don't apply the continuum template.
I looked at the impact on the results and it didn't seem like the problem we have with the distortion matrix came from there.
But Jim does think that having access to the continuum, i.e. saving it in the fits file for example would be a good idea.

[2020-03-18 16:07] andreufont commented on #499
I think we have two options that would work:
 - Add an option in quickquasars (--divide-continuum) that divide by the continuum at the end stage, before printing to file. It would have to divide the noise estimate as well, or rather multiply the noise variance by continuum squared. This would allow avoid having to also write the continuum to file.
 - We could run quickquasars with QSO templates, t

[2020-03-18 16:37] alxogm commented on #499
Thanks @jvstermer, it is good to know that saving the continuum is useful for .

With Andreu we discussed a few options, I'm checking on how difficult is to recover the continuum when using QSO, since for SIMQSO I have not succeeded yet...

@jvstermer feel free to explore the options too..

Thanks!

[2020-03-19 21:40] alxogm opened #526 "Update BAL metadata in quickquasars (and probably select_mock_targets)"
This raises from discussion in the #tucson2020_hack_bal in slack. The summary from @andreufont  is copied here

1) I think we all agree with response A, so I'll start by changing the metadata [here](https://github.com/desihub/desisim/blob/7b9207638d289ad316642d77f9eeeb75a7fb8227/py/desisim/io.py#L942 ) and [here](https://github.com/desihub/desisim/blob/7b9207638d289ad316642d77f9eeeb75a7fb8227/py/d

[2020-03-20 07:37] alxogm commented on #526
So I worked a bit on this, and pushed a branch https://github.com/desihub/desisim/compare/BAL_META, not a PR yet.

I have some points (questions) to discuss.

1) Trying to add more information to the BAL_META I found it was easier that the function [desisim.bal.insert_bals](https://github.com/desihub/desisim/blob/e94ccc994fca2047a59035735e8bc8dfc0e4d2f2/py/desisim/bal.py#L149) returns the metadata

[2020-03-20 18:31] andreufont commented on #526
If possible, I'd try to have the same structure in mocks generated with select-mock-target than mocks generated with quickquasars. I think it will make life easier for those reading mocks from both simulations (quasar classifiers, redshift fitters...). If it gets too complicated, we can leave with different strucutres, but then we would need to document all this very well.

For instance, if we thi

[2020-03-20 19:13] alxogm commented on #526
Hi @andreufont,  I'll try to see the select_mock_targets counterpart soon. I'm sure is doable given the structure, but I'd like to solve a couple of other issues I have open first.

I'll make this PR on quickquasars during the weekend and I'll re-run one of the small tucson2020_hack_bal to check it all runs ok.

[2020-03-20 19:24] andreufont commented on #526
Sounds good!

[2020-04-01 20:43] paulmartini commented on #526
I think this overall sounds good. I was a little concerned about having separate BAL catalogs for redrock and picca, but since these are for mocks, then the two catalogs could presumably be generated at the same time and would have the same data.

For what it is worth, my experience with BAL masking so far is that we are using only as subset of the data in the catalogs (AI, BI, VMIN, VMAX) and not

[2020-04-01 23:52] alxogm commented on #526
Hi @paulmartini, thanks for looking into it.

sorry, I don't follow this comment... do you mean a BAL catalog for masking the BALs and try to redo the redshift fit with redrock? Why do you said this would not be the same that the one used for picca?

thanks.

Ps. if there is no concern about names then I'll leave  BAL_TEMPLATEID.

[2020-04-02 17:36] alxogm opened #528 "'FIBERASSIGN' changed to 'FASSIGN' in fiberassign output files"
I tried to generate a catalog after running the fiberassign instruction in the tutorial https://github.com/desihub/tutorials/blob/master/FiberAssignMocks.ipynb in a previously generated catalog.

but quickcat complains because in the fiberassign files it is called 'FASSIGN' instead of 'FIBERASSIGN' See  https://github.com/desihub/desisim/blob/7b9207638d289ad316642d77f9eeeb75a7fb8227/py/desisim/qui

[2020-04-02 17:41] tskisner commented on #528
The FASSIGN HDU is in the raw data format.  After merging target data, the HDU is named "FIBERASSIGN".  Since that notebook uses the "fiberassign" wrapper script, it should be doing the merging under the hood.  I'm surprised that the output does not contain this HDU.

Can you please file an issue in the tutorials git repo?  In any case, the "FIBERASSIGN" HDU is the one you should be using in all c

[2020-04-02 17:48] alxogm commented on #528
Oh, I see... I actually did not ran the full tutorial, only used the fiberassigment lines, maybe is my issue then! Let me check.

[2020-04-02 19:34] paulmartini commented on #526
Hi @alxogm,

This comment was to agree with @andreufont's comment above that for non-picca tests (e.g. redrock) it would be good if all BAL meta data were in a truth file, one per HEALPix pixel, while picca tests would be easier to do with a single BAL catalog.

Paul

[2020-04-03 21:42] #528 closed

[2020-04-06 16:54] #500 closed

[2020-04-06 17:08] #463 closed

[2020-04-06 17:08] #462 closed

[2020-04-06 17:08] #461 closed

[2020-04-12 21:46] moustakas opened #529 "transients_ columns should only appear in metadata table if simulating transients"
Spun off from https://github.com/desihub/desisim/pull/525 but also impacting `desitarget` in https://github.com/desihub/desitarget/issues/603.

[2020-04-14 21:09] sbailey opened #531 "expand usage of freeze_iers to avoid downloads"
PR #530 moved freeze_iers into functions instead of a package level import to make sphinx documentation builds happy, but now some other code is triggering warnings like:
[code]
Find where those are coming from and add `freeze_iers` there too, or otherwise fix the sphinx config to allow a package-level `freeze_iers` call to cover all desisim code at once.  See desihub/desiutil#140 for a related di

[2020-04-27 07:23] andreufont opened #532 "Change default pixel width of DESI mocks to 0.8A"
We recently found out that the Lyman alpha mocks had pixels of width 1A, instead of 0.8A.

We think this might be related to line 619-620 in simexp.py, that sets by default the output pixel width to 1A, when the user doesn't provide any value for dwave_out.

https://github.com/desihub/desisim/blob/3ae76e4c921f72b71ff7522462740e904136f428/py/desisim/simexp.py#L620

How confident are we that the fin

[2020-04-28 01:54] sbailey commented on #532
I wouldn't be surprised if 0.8 changed again, but we might as well be consistent in the meantime (including the exact phasing of the 0.8 grid).  I've added this to the 20.5 project to keep it on our radar for the next release.  Contributions welcome.  See [desispec/bin/desi_proc lines 680-685](https://github.com/desihub/desispec/blob/8e7ebe22ec6e1987860f1b66dd90953e11853984/bin/desi_proc#L680-L685

[2020-05-07 10:34] moustakas opened #534 "desisim sky level test failure"
Opening a ticket for an issue sent by @sbailey on-list:

[code]

[2020-05-07 11:05] moustakas opened #535 "new problem with how the spectral templates are being normalized"
Clearly we need more unit tests (either here or in `speclite`).

In hunting down #534 I'm finding that `speclite` (specifically, `speclite.filters._get_table`) is not correctly normalizing the templates generated by the various `desisim.templates` methods. I *think* the issue is the newer versions astropy, which *used* to work on input spectra that did not have `astropy.units` attached to them. Ho

[2020-05-07 11:09] moustakas commented on #535
MWE--
[code]

[2020-05-07 11:35] moustakas commented on #535
Setting `mask_invalid=False` in the call to the `get_ab_maggies` returns the traceback below. Previously, `mask_invalid=True` was used to capture the case where the filter response function extended outside the wavelength range of the spectrum, but that's not the case here.

Oddly, using the example in the speclite documentation *without* specifying the units does not raise the same error, so I'm

[2020-05-07 12:29] moustakas commented on #534
The failure is coming from the fact that the simulated sky spectra are *negative* (in units of electrons).

<img width="571" alt="Screen Shot 2020-05-07 at 8 28 27 AM" src="https://user-images.githubusercontent.com/1431820/81294433-e5704880-903c-11ea-9282-1866bb4c6f31.png">

[2020-05-08 11:01] moustakas commented on #534
I tried to track this issue down into `specsim` but wasn't successful. As far as I can tell, the sky spectra are negative when they leave `simexp.simulate_spectra` but I can't quite track down where in `specsim.simulator.Simulator.simulate` this is occurring.

@dkirkby @julienguy any suggestions? And can you confirm that the simulated sky spectra (in this case, `num_sky_electrons_z` should *not* b

[2020-05-08 11:08] moustakas commented on #534
Here's a very simple MWE based on the unit test:
[code]

[2020-05-08 15:14] dkirkby commented on #534
specsim takes a tabulated sky surface brightness as input and propagates it to a mean expected number (without any shot noise added) of detected electrons due to sky (per wavelength bin) in each camera.  A positive input surface brightness should never result in a negative output `num_sky_electrons_z`.

It sounds like something in desisim is feeding a negative surface brightness into specsim, eith

[2020-05-08 15:20] dkirkby commented on #534
I should add that `num_sky_electrons_z` is not one of the specsim output columns (documented [here](https://specsim.readthedocs.io/en/stable/output.html#camera-output-tables)) so it's possible that the code which generates this column is doing more than just copying the specsim z-band `num_sky_electrons` values.

[2020-05-09 00:16] sbailey commented on #534
A few more data points: I inspected variables after the call to `specsim.simulator.Simulator.simulate` (`desi.simulate`) on [simexp.py L585](https://github.com/desihub/desisim/blob/c405acdc65e9d8d3f1e5170f2ce59ca395f8def2/py/desisim/simexp.py#L585).  The input flux and atmosphere surface brightness are positive, but the outputs num_sky_electrons have negative values:
[code]

I remain confused, how

[2020-05-09 12:32] moustakas commented on #534
I confirmed that, internally to `specsim`, the sky spectrum in units of photons is all positive while the same spectrum in units of electrons has negative values:
https://github.com/desihub/specsim/blob/master/specsim/simulator.py#L495-L496

The only difference is the multiplication of the throughput, which indeed has small, negative values:

[code]

[2020-05-09 12:44] moustakas commented on #534
Here's the problem. It looks like the throughput tables in `desimodel/data/throughput` were updated recently, and for the z-band camera they contain the exact same number of small, negative values as we're seeing in the sky spectra that cause this unit test to fail:
[code]

[2020-05-09 12:50] moustakas commented on #534
Looks like https://github.com/desihub/desimodel/pull/137 and this change to `desimodel/data` may be related?
[code]
I'm confused, though, because `desisim` Travis tests use the `branch/test-0.10` branch of `desimodel`, so presumably this failure should not have occurred (assuming the throughputs are all positive there).

It makes sense that the unit tests would fail when running them on the comman

[2020-05-09 13:36] dkirkby commented on #534
Thanks for tracking this down @moustakas.  I will take care of clipping the small negative values in the latest update to the DESIMODEL throughputs (with another commit to desihub/desimodel#137), but that is still work in progress so should not be affecting the travis unit tests for desisim.

Note that [this travis test](https://travis-ci.org/github/desihub/desisim/builds/685028038) is still faili

[2020-05-09 14:05] moustakas commented on #534
Hmm, that's #507 again. I'll dig.

[2020-05-09 15:11] moustakas commented on #507
Using the seed from [this test failure](https://travis-ci.org/github/desihub/desisim/jobs/685028042), I'm able to reproduce the problem:
[code]

The reason is clearly stated by the code: with that seed, there is no non-negative combination of the PCA templates (at the randomly-generated redshift, which is why this failure is intermittent) which produce a spectrum which passes the QSO color-cuts. I

[2020-05-11 18:49] sbailey commented on #507
Thanks @moustakas.  Please also check LRGs for a similar effect, where we have similar occasional failures.

I'm ambivalent about options for keeping these in sync.  Opinions @geordie666 ?

At minimum in the short term @moustakas please include comments in both locations (cuts and templates) that says something like "if you change this value here, also change it here...).

[2020-05-11 18:56] moustakas commented on #507
Yes, I updated all the template priors in #536.

The right place to put a "warning" would be `desitarget.cuts`. I can open a ticket in `desitarget` with my suggestion so we can at least track this issue, unless @geordie666 has another idea.

[2020-05-11 19:44] moustakas commented on #534
Fixed in #536.

[2020-05-11 19:44] moustakas commented on #507
Fixed in #536.

[2020-05-11 19:52] moustakas commented on #535
Fixed in #536.

Fortunately the fix was much easier than originally thought. Briefly, a flux array was inadvertently being passed to `speclite` as an `astropy.table.Column`, which `astropy` (internally to `speclite`) interpreted as something with inconsistent units (definitely something that *used* to work with earlier versions of astropy).  So, closing this ticket for now--until the next problem!

[2020-05-11 19:52] #535 closed

[2020-05-18 21:57] moustakas opened #537 "desisim.templates should fail if a template that satisfies the colorcuts cannot be generated"
Carried over from--
  https://github.com/desihub/desitarget/issues/618

[2020-05-29 23:06] belaa commented on #437
Now that the `eboss_quickquasars` branch has been merged, can we close this issue?

[2020-06-09 00:27] sbailey commented on #531
fixed somewhere along the way

[2020-06-09 00:27] #531 closed

[2020-06-16 03:25] sbailey commented on #534
desimodel still has negative throughputs causing desisim test failures, so reopening this until it is fully resolved.  I'll ping desihub/desimodel#137 which is where I think the fix will happen.  @dkirkby @moustakas

[2020-06-16 10:18] moustakas commented on #534
For the time being, could test against the previous `desimodel` branch, before the throughputs went negative.

[2020-07-17 07:17] alxogm commented on #532
coming back to this issue. We fixed this for quickquasars mocks in  desihub/desisim#533 . It seemed everything was right, but the balfinder is crashing for this mocks due to the following error

[code]
It works well for a pixel width of 1 and 0.6, but not 0.8...
The error is rised in [#L225-L231](https://github.com/desihub/desispec/blob/1d78b9cf56ddb5dfc9c49cf0edd7f8d3f9804b8a/py/desispec/coadditi

[2020-07-17 16:27] sbailey commented on #532
The 3 cameras have overlapping wavelength coverage, and for coaddition to work (without re-sampling) it requires that the different grids are aligned, not just that they have the same step.  e.g. OK:
[code]
but not OK:
[code]
Check your simulations to see that they have aligned wavelengths grids on the 3 cameras, not just that they all have 0.8 A steps.

FWIW, this is the grid used in Andes, thoug

[2020-07-17 16:46] alxogm commented on #532
Yes,  precisely the 'r' and  'z' bands are not aligned, and that rises the issue in  #L225-L231. The modification in quickqusars was rather simple, just to propagate an argument to control the pixel width. So I guess the edges for the wavelength arrays are defined somewhere and we need to check they are aligned for the requested pixel width. I'll dig a bit more. Thanks @sbailey !

[2020-07-22 14:43] sybenzvi opened #540 "quicktransients should catch failed template generation"
The user-level script which generates galaxy + transient spectra through desisim and desitarget is letting through failed spectra (flux values all zero or containing NaN). The script could catch and skip these failures. It's possible this issue is duplicating #537.

[2020-07-23 14:42] sybenzvi commented on #540
Fixed; see PR #541. Turns out this had nothing to do with bad templates or issue #537, but rather an incorrectly defined redshift array passed to sim_spectra. I know longer remember why I defined the array in the first place; February Segev made July Segev's life harder by not providing comments.

[2020-07-23 16:00] sybenzvi commented on #529
@moustakas, I'm finally looking into this.

My intention was always to conditionally insert the TRANSIENT_ columns into the truth tables when the user adds transients to galaxy templates through desisim. The default behavior should be to exclude the columns. I set up a boolean in desisim to manage it but found its state was being lost when the generation code was called in desitarget.

I know wher

[2020-07-23 16:38] moustakas commented on #529
@sybenzvi, absolutely! I just opened this ticket so we wouldn't lose track. When I find some cycles I can also help figure out the right desitarget<-->desisim hooks. For example, it'd be great to add a transients simulation option to `select_mock_targets`, which should be straightfoward.

[2020-10-13 16:24] alxogm opened #543 "Save true continuum in quickquasars"
We would like to have easy access to the true continuum in quickquasars runs, so we will add a flag to save it in a hdu in the truth file.

We have tested we can recover it easily from the QSO templates, but for SIMQSO there was a missing piece of information not saved in the truth files. I might go back and try to fix that, but it seams also easier to just save it when need it.

[2021-02-01 23:43] weaverba137 commented on #534
Based on dates that I've seen so far, it looks like `desimodel/branches/test-0.12` might not contain the updated files that fix negative throughputs.

When I ran a test on my laptop with desimodel/trunk, this particular test passed.

@sbailey, could you possibly create a test-0.13 branch?

[2021-02-02 18:19] sbailey opened #547 "TestPixsim negative flux failure"
Test failure:
[code]

I'm pretty sure this was caused by [specter commit #6a0d107](https://github.com/desihub/specter/commit/6a0d10766f4b187d3c5151c40797b6d9c8d745c5) which now allows PSF projection of negative flux, which was needed for proper normalization when projecting ringing deconvolved real data spectra for studying the 2D model.  i.e. now it is the responsibility of the input spectrum to

[2021-02-04 04:58] #547 closed

[2021-02-10 15:58] #543 closed

[2021-02-10 16:02] alxogm commented on #499
Closing this since we have an option now that saves the true continuum.

[2021-02-10 16:02] #499 closed

[2021-02-10 16:28] alxogm commented on #491
Closing, as this was implemented.

[2021-02-10 16:28] #491 closed

[2021-02-14 04:19] sbailey commented on #534
desimodel test-0.13 branch created, I think that addresses the testing issue.  Combined with Ben's tests passing with desimodel/trunk, and John's MWE now passing, I think this issue is resolved.  Closing ticket.

[2021-02-14 04:19] #534 closed

[2021-05-18 22:10] julienguy opened #553 "desisim.templates failing with new version of desitarget"
in desisim.templates is called : `self.colorcuts_function(gflux=gflux, rflux=rflux, zflux=zflux,
                                                        w1flux=w1flux, w2flux=w2flux, south=south)`
where `self.colorcuts_function` is for the class BGS the function `desitarget.cuts.isBGS_colors`
which arguments changes with desitarget PR https://github.com/desihub/desitarget/pull/718
(there is no mor

[2021-05-18 22:30] sbailey commented on #553
Indeed, @geordie666 suggested letting the main survey targeting settle out, and then fix up the mocks to match instead of chasing a moving target in the past few weeks.  Has that time arrived?  @moustakas ?

@julienguy is this urgent for updating TSNR (or other urgent work) or would an older release be sufficient for right now?

[2021-11-04 07:23] andreufont commented on #532
Hi @alxogm - Was this fixed in quickquasars? If so, should we close the issue?

[2021-11-04 14:47] alxogm commented on #532
Hi @andreufont, it was not fully solved since we changed the pixel width to 0.8A, but the overlapping wavelength range of the cameras is not aligned, so coaddition using desispec routine fails. I think it is until now that analysis on P1D mocks are facing this issue again, we can try to fix it.

[2021-11-04 14:48] #526 closed

[2021-11-04 14:56] andreufont commented on #532
Hi @alxogm - I think we should change this, but this probably means increasing by one the "quickquasar version". I mean, these should probably be desi-3.0-4 mocks and so on, just like we changed from desi-1 to desi-2 when we changed the storing of the continuum and resolution matrices. Are there other minor changes that we wanted to do, so that we could coordinate them all and put them in the same

[2021-11-04 15:09] alxogm commented on #532
Yes, I think there are some small improvements that we can add to the same version code. I'll make a list in another issue, or PR, so we keep track of it.

[2021-11-10 21:12] weaverba137 opened #554 "Formalize basis_templates tagging procedure"
Prior to basis_templates/v3.0, tags contained a checksum file.  However more recent tags do not contain this file.  Uploading and downloading very large binary files with svn is always a bit tricky, so the checksum file helps protect against corruption.

Here are some non-binding suggestions:

1. Include the checksum file, but use `sha256sum` and call it, *e.g.*, `basis_templates_v3.3.sha256sum`.

[2021-11-11 20:58] sbailey commented on #554
This sounds good.  I suggest wrapping that in a script, perhaps kept in basis_templates svn rather than desisim, for tagging + checksumming basis_templates correctly.  We could use that to make a new tag just to cleanup the checksum situation for the most recent tag.

[2021-12-07 18:06] andreufont opened #555 "Modify specsim / quickquasars to mimic how the real pipeline estimates the noise variance"
Moving here a discussion at the DESI meeting, and on Slack, with @julienguy.
- in specsim, the amount of noise added has a contribution from the quasar flux in a given pixel
- the value of IVAR (inverse noise variance) stored in the synthetic spectra is therefore correlated with the delta_flux in the pixel, because pixel with a lot of absorption (low delta_flux) will have smaller noise variance (l

[2021-12-07 18:07] andreufont commented on #555
It would be good if someone could modify specsim to add the option to compute an alternative noise variance that uses a similar model.

[2022-01-08 20:29] moustakas opened #557 ""Refraction model is inaccurate for altitudes below 5.0 deg" warning in test_quickquasars unit test"
Running
[code]
yields the following warning (in addition to https://github.com/desihub/specsim/issues/119):

[code]

The clue is in the log output which digging confirms that the warning is caused by the 43 million second exposure time, `EXPTIME = 43393141.096335374`! Looks like this is happening here, where (in the test case) the dust correction to the exposure factor ends up being about 10^4:
ht

[2022-01-08 20:39] moustakas opened #558 "several quickgen unit tests are failing"
Running
[code]
fails gloriously in many places. I know this is legacy code but then we should either deprecate the code or the unit tests.

Here's one Traceback:
[code]

[2022-01-10 18:21] andreufont commented on #557
Sorry, I know this is is urgent, but I can not look at it today / this week.

Not sure if @alxogm might be able to help?

[2022-01-10 18:23] moustakas commented on #553
Fixed in #556.

[2022-01-10 18:23] #553 closed

[2022-01-10 19:10] alxogm commented on #557
Hi @moustakas,  I recall  I implemented these lines from https://github.com/desihub/desisurvey/blob/502d3b074babf30b504ee75cccf79b53e398e4dc/py/desisurvey/etc.py#L99

(not sure at the moment if I check it was correct or only assumed it was :S)

[2022-01-10 19:12] alxogm commented on #557
By the way, it was implement by request of Helion a while ago, but so far we haven't really used it. @andreufont we should discuss if we really need it or not.

[2022-01-11 17:20] moustakas opened #560 "RuntimeWarning: numpy.ndarray size changed, may indicate binary incompatibility. Expected 80 from C header, got 88 from PyObject"
Running
[code]
yields the following non-catastrophic warning:
[code]
This is happening on my laptop (a newer MacBook Pro) with `python 3.8.5` and `numpy 1.20.3` but I'm also seeing it in our Github Actions tests.

Googling suggests that simply reinstalling numpy should fix it, although it didn't work for me:
https://stackoverflow.com/questions/66060487/valueerror-numpy-ndarray-size-changed-may-ind

[2022-01-11 18:31] andreufont commented on #557
If we have not used this feature so far, and we have doubts whether it has an issue or not, maybe we could deprecate it and remove it from the tests. We could leave the code commented out, or similar, in case we want to reinstall it.

[2022-01-12 14:19] moustakas commented on #557
OK, this issue is now fully understood and I'm planning to close it. Thank you for everyone's input.

First, all the code is correct, including the power of two in the exponent (the dust correction to the exposure time goes like the square of the dust column). This warning is caused by the fact that the London and Saclay Lya "skewers" we're using are right in the plane of the Galaxy, which leads t

[2022-01-12 14:19] #557 closed

[2022-01-12 14:22] andreufont commented on #557
Sounds good. Thanks for the thorough investigation @moustakas and @alxogm !

[2022-01-12 22:45] moustakas commented on #558
Fixed in #559.

[2022-01-12 22:45] #558 closed

[2022-01-12 22:45] moustakas commented on #537
Fixed in #559.

[2022-01-12 22:45] #537 closed

[2022-01-12 22:47] moustakas commented on #516
I did not see this deprecation warning in any of the extensive tests I did in #559, so closing without action.

[2022-01-12 22:47] #516 closed

[2022-01-12 22:47] moustakas commented on #507
Hopefully fixed for good in #559.

[2022-01-12 22:47] #507 closed

[2022-01-12 22:48] moustakas commented on #506
Current set of tests all pass, so this ticket is obsolete.

[2022-01-12 22:48] #506 closed

[2022-01-12 22:50] moustakas commented on #480
`speclite` was moved into the `desihub` organization, so I'm going to close this ticket.

[2022-01-12 22:50] #480 closed

[2022-01-12 22:58] moustakas commented on #469
I tested this issue with an updated location for the mock and I don't see the warning reported, so I'm planning to close this. However, the call to `quickquasars` did crash with a different error. I leave it up to @andreufont and/or @alxogm to open a new ticket if the crash is on the critical path for other work

[code]

[2022-01-12 22:58] #469 closed

[2022-01-12 22:58] moustakas commented on #418
No plan to implement this enhancement now that we have actual data to work with.

[2022-01-12 22:58] #418 closed

[2022-01-12 23:00] moustakas commented on #404
@alxogm @andreufont can we close this ticket?

[2022-01-12 23:02] moustakas commented on #296
This is done now as an option to `quickquasars`; closing.

[2022-01-12 23:02] #296 closed

[2022-01-12 23:04] moustakas commented on #327
It sounds like this issue was resolved some time ago so I'm closing it; please reopen if not.

[2022-01-12 23:04] #327 closed

[2022-01-12 23:10] moustakas commented on #174
We're no longer doing large pixel simulations, so this ticket is probably obsolete, but in any case in a login node on cori I'm getting a ~3.5 second read time, about a factor of 5-8 faster than the reported 20-30 seconds, so I'm going to close this.
[code]

[2022-01-12 23:10] #174 closed

[2022-01-12 23:10] moustakas commented on #149
Won't fix and/or not on the critical path; closing.

[2022-01-12 23:10] #149 closed

[2022-01-12 23:12] moustakas commented on #106
`desitarget/bin/select_mock_targets` has evolved to do much of this work and we also have a ton of real data now to work with, so no further developments along the lines in this ticket are expected; closing.

[2022-01-12 23:12] #106 closed

[2022-01-12 23:12] moustakas commented on #103
@julienguy @sbailey I suspect this ticket is obsolete. Is it safe to close?

[2022-01-12 23:13] moustakas commented on #97
With data now in-hand, I think our choices are basically now baked in. Closing with no action.

[2022-01-12 23:13] #97 closed

[2022-01-13 14:57] andreufont commented on #469
I think this is ok, this is an old issue related to a project (eBOSS) that has already finished. We can reopen it if we need later on.

[2022-01-14 17:00] alxogm commented on #404
I think we can close the issue. For the new mocks we will draw the magnitudes based on the observed distributions.

[2022-01-14 17:39] #404 closed

[2022-01-15 17:04] weaverba137 opened #561 "Test failure at NERSC due to basis template configuration"
Nightly tests of desisim are failing due to the following (one!) error:
[code]
I think it needs to look at `v3.2` rather than `v3.0`, but I'm not sure where that is configured.

[2022-01-15 18:24] moustakas commented on #561
Sorry, I'm not sure where `DESI_BASIS_TEMPLATES` is configured for the nightly integration tests, either. There's this line which *used* to point to the `v3.0` templates
  https://github.com/desihub/desisim-testdata/blob/master/setup-testdata.sh
but I updated it in https://github.com/desihub/desisim-testdata/pull/15.

Maybe @sbailey knows off-hand?

[2022-01-20 06:27] lastephey opened #562 "argument type error in pixsim"
Hi  DESI developers,

I provided a pixsim multiprocessing example to one of our vendors some time ago that we are now revisiting. I'm having trouble running the example

[code]

This results in the traceback:

[code]

Initially I wondered if this was due to a software installation problem, but I just rebuilt my test environment with the [workaround](https://github.com/desihub/desispec/pull/1566/fi

[2022-01-20 17:16] sbailey commented on #562
Hi Laurie.  It is failing on desisim/io.py line 1083:
[code]
I suspect that you don't have PIXSIM defined, since os.getenv('PIXPROD') will return None which then chokes os.path.join.  It can be anything; it just defines a subdir under DESI_SPECTRO_SIM for where to put outputs of this particular run.

The code could be clearer about how it logs/crashes if required environment variables aren't defin

[2022-01-24 06:35] lastephey commented on #562
Yes, I was missing `PIXPROD` and a few other settings. I appreciate your quick suggestion. Thanks again and sorry for the noise.

[2022-01-24 06:35] #562 closed

[2022-02-06 01:21] humnaawan opened #563 "desisim.simexp.simulate_spectra not varying exposure time"
Hi, I have been trying to figure out why my spectra don't change with exposure time, and I've isolated the issue to `desisim.simexp.simulate_spectra`.

Specifically, say I have a wave array `wave_arr` and flux array `flux_arr`, and I run
[code]
vs.
[code]
where
[code]
Then I'd expect `out0` and `out1` to *not* be the same -- is that not right?

The calls to `simexp` seems to suggest that the obser

[2022-02-06 12:51] moustakas commented on #563
Thanks for the ticket, @humnaawan, I can try to look into this.

[2022-02-06 12:57] moustakas opened #564 "problem interpolating atmosphere in desisim.specsim.get_simulator"
[code]

[2022-02-07 09:19] andreufont commented on #563
Thanks @moustakas for looking into this. At least in the Lyman alpha WG none had played with these observing conditions before, so I'm not too surprised that there are hiccupts. I hope these are easy to fix!

[2022-02-07 15:53] alxogm commented on #563
Hi all, thanks @moustakas  for taking a look.

For reference, in the Y1 simulations we make, we do vary the exposure time, and it does change the spectra. It uses the same routine `desisim.simexp.simulate_spectra` Humna is trying to use.

I see in quickquasars we start with a reference set of `obsconditions`, which we then modify, here is the line we start with,

https://github.com/desihub/desisim

[2022-02-15 09:28] andreufont commented on #563
@moustakas - any update on this? We will discuss this project at the KP6 telecon later today.

[2022-02-15 16:43] moustakas commented on #563
Apologies, I have not had a chance to look yet. But @humnaawan can you include an end-to-end example of what you're doing, including the input spectra you're passing to `simulate_spectra`? Thanks!

[2022-02-17 21:53] LuzGarciaP opened #565 "Error while running redrock in mock spectra"
Hi there,

When trying to run redrock on a small set of mocks located here: /global/cscratch1/sd/alxogm/BAL_mocks

I'm getting this error:
Traceback (most recent call last):
  File "/global/common/software/desi/cori/desiconda/20211217-2.0.0/code/redrock/master/bin/rrdesi", line 9, in <module>
    desi.rrdesi(comm=None)
  File "/global/common/software/desi/cori/desiconda/20211217-2.0.0/code/redrock

[2022-02-19 03:05] moustakas commented on #564
This ticket is a bit of a rabbit hole and I'm inclined to close it. The crash actually occurs in `specsim` when the atmospheric extinction is interpolated onto the input wavelength grid--
  https://github.com/desihub/specsim/blob/master/specsim/config.py#L488

However, the extinction grid only extends to `9999.9 A` while the wavelength grid in the example in this ticket extends to `10000.0 A` and

[2022-02-22 03:26] humnaawan commented on #563
no worries @moustakas! here's the code that should produce the issue:
[code]

in case its helpful, i've put a copy of the notebook with all the code above at `/global/cfs/cdirs/desi/users/awan/notebooks/`. please lmk if this code is not able to reproduce the issue with you (i.e. out0 is exactly the same as out1).

[2022-02-23 18:17] sybenzvi commented on #563
@humnaawan, I get the same results as you with the current main branches of desisim and specsim.

However, I decided to see if the full `sim_spectra` function in `desisim.scripts.quickspectra` responds correctly to changes in EXPTIME or is insensitive as you reported before. For me the script behaves reasonably. I increased the EXPTIME to an absurd number to make differences in the fluxes obvious,

[2022-02-24 23:16] alxogm commented on #563
@humnaawan I think the issue is that the simulator object is not being cleared by just reusing the variable with different arguments. I added this line to your notebook

`desisim.specsim._simulators.clear()
`
before calling the simulator for the second time and that cleared everything and returned different spectra. Can you try it also fix the issue for you?

[2022-02-28 18:11] humnaawan commented on #563
@sybenzvi thanks! so i was largely following how spectra are created in `quickspectra` which is why i was stumped at what i was seeing; the reason why i'm working with the simulator object directly is that we need to handle instrument response in more detail than is done in `quickspectra`.

adding `desisim.specsim._simulators.clear()` as @alxogm suggested works though so that'd great. maybe this s

[2022-04-29 15:21] forero opened #567 "Failure on jupyter at nersc trying to run redrock on desisim outputs"
I am trying to update this notebook to make it work under kernel 22.2:
https://github.com/desihub/tutorials/blob/52d61df9d4baa603863ff73399d6525e68c820fc/simulating-desi-spectra.ipynb

That notebook generates a series of QSO spectra and then tries to run redrock on them:
[code]
That command gives me the following error

[code]

I am guessing that this is a problem with the desisim output, but I am

[2022-04-29 15:45] sbailey commented on #567
Unfortunately the 22.2 software release has an incompatibility between simulated QSOs and redrock.  See #565 and desihub/redrock#205.  If someone can fix this in the next few days, we could include them in a new tag and have the tutorial use the new tag instead of the 22.2 kernel.

It would be especially useful if someone contributes a test in desisim that confirms that the simulated output can be